<div id="form" class=""><form role="form" class="ui form">

    <div class="alpaca-field alpaca-field-object" data-alpaca-field-id="alpaca1" data-alpaca-field-path="/" data-alpaca-field-name="">

        <legend class=" alpaca-container-label"> </legend>




        <div>


            <div>

                <div class="alpaca-field alpaca-field-object" data-alpaca-field-id="alpaca2" data-alpaca-field-path="/DomesticHotWaterSystem" data-alpaca-field-name="DomesticHotWaterSystem">





                    <div>


                        <div>

                            <div class="alpaca-field alpaca-field-select" data-alpaca-field-id="alpaca3" data-alpaca-field-path="/DomesticHotWaterSystem/$" data-alpaca-field-name="DomesticHotWaterSystem_$">



                                <div class="field" name="DomesticHotWaterSystem_$">
                                    <label> Domestic Hot Water System</label>
                                    <select dropdown id="alpaca3" ng-model="system[&#39;auc:DomesticHotWaterSystems&#39;][&#39;auc:DomesticHotWaterSystem&#39;][&#39;$&#39;]" name="DomesticHotWaterSystem_$">


                                        <option value="">None</option>

                                        <option value="Heat Exchanger">Heat Exchanger</option>
                                        <option value="Instantaneous">Instantaneous</option>
                                        <option value="Storage Tank">Storage Tank</option>
                                        <option value="Unknown">Unknown</option>


                                    </select>
                                </div>



                            </div>

                        </div>


                        <div>

                            <div class="alpaca-field alpaca-field-object" data-alpaca-field-id="alpaca4" data-alpaca-field-path="/DomesticHotWaterSystem/auc:DomesticHotWaterType" data-alpaca-field-name="DomesticHotWaterSystem_auc:DomesticHotWaterType">





                                <div>


                                    <div>

                                        <div class="alpaca-field alpaca-field-object indent" ng-show="system['auc:DomesticHotWaterSystems']['auc:DomesticHotWaterSystem'].$ == 'Heat Exchanger'" data-alpaca-field-id="alpaca15" data-alpaca-field-path="/DomesticHotWaterSystem/auc:DomesticHotWaterType/auc:HeatExchanger" data-alpaca-field-name="DomesticHotWaterSystem_auc:DomesticHotWaterType_auc:HeatExchanger">





                                            <div>


                                                <div>

                                                    <div class="alpaca-field alpaca-field-text" data-alpaca-field-id="alpaca31" data-alpaca-field-path="/DomesticHotWaterSystem/auc:DomesticHotWaterType/auc:HeatExchanger/$" data-alpaca-field-name="DomesticHotWaterSystem_auc:DomesticHotWaterType_auc:HeatExchanger_$">



                                                        <div class="field" name="DomesticHotWaterSystem_auc:DomesticHotWaterType_auc:HeatExchanger_$">

                                                            <label> Heat Exchanger</label>

                                                            <input type="text" id="alpaca31" ng-model="system[&#39;auc:DomesticHotWaterSystems&#39;][&#39;auc:DomesticHotWaterSystem&#39;][&#39;auc:DomesticHotWaterType&#39;][&#39;auc:HeatExchanger&#39;][&#39;$&#39;]" name="DomesticHotWaterSystem_auc:DomesticHotWaterType_auc:HeatExchanger_$">
                                                        </div>



                                                    </div>

                                                </div>


                                            </div>



                                        </div>

                                    </div>


                                    <div>

                                        <div class="alpaca-field alpaca-field-object indent" ng-show="system['auc:DomesticHotWaterSystems']['auc:DomesticHotWaterSystem'].$ == 'Instantaneous'" data-alpaca-field-id="alpaca16" data-alpaca-field-path="/DomesticHotWaterSystem/auc:DomesticHotWaterType/auc:Instantaneous" data-alpaca-field-name="DomesticHotWaterSystem_auc:DomesticHotWaterType_auc:Instantaneous">





                                            <div>


                                                <div>

                                                    <div class="alpaca-field alpaca-field-object" data-alpaca-field-id="alpaca32" data-alpaca-field-path="/DomesticHotWaterSystem/auc:DomesticHotWaterType/auc:Instantaneous/auc:InstantaneousWaterHeatingSource" data-alpaca-field-name="DomesticHotWaterSystem_auc:DomesticHotWaterType_auc:Instantaneous_auc:InstantaneousWaterHeatingSource">





                                                        <div>


                                                            <div>

                                                                <div class="alpaca-field alpaca-field-select" data-alpaca-field-id="alpaca35" data-alpaca-field-path="/DomesticHotWaterSystem/auc:DomesticHotWaterType/auc:Instantaneous/auc:InstantaneousWaterHeatingSource/$" data-alpaca-field-name="DomesticHotWaterSystem_auc:DomesticHotWaterType_auc:Instantaneous_auc:InstantaneousWaterHeatingSource_$">



                                                                    <div class="field" name="DomesticHotWaterSystem_auc:DomesticHotWaterType_auc:Instantaneous_auc:InstantaneousWaterHeatingSource_$">
                                                                        <label> Instantaneous Water Heating Source</label>
                                                                        <select dropdown id="alpaca35" ng-model="system[&#39;auc:DomesticHotWaterSystems&#39;][&#39;auc:DomesticHotWaterSystem&#39;][&#39;auc:DomesticHotWaterType&#39;][&#39;auc:Instantaneous&#39;][&#39;auc:InstantaneousWaterHeatingSource&#39;][&#39;$&#39;]" name="DomesticHotWaterSystem_auc:DomesticHotWaterType_auc:Instantaneous_auc:InstantaneousWaterHeatingSource_$">


                                                                            <option value="">None</option>

                                                                            <option value="Combustion">Combustion</option>
                                                                            <option value="ElectricResistance">ElectricResistance</option>
                                                                            <option value="Other">Other</option>
                                                                            <option value="Unknown">Unknown</option>


                                                                        </select>
                                                                    </div>



                                                                </div>

                                                            </div>


                                                        </div>



                                                    </div>

                                                </div>


                                            </div>



                                        </div>

                                    </div>


                                    <div>

                                        <div class="alpaca-field alpaca-field-object indent" style="padding-left: 12px" ng-show="system['auc:DomesticHotWaterSystems']['auc:DomesticHotWaterSystem'].$ == 'Storage Tank'" data-alpaca-field-id="alpaca17" data-alpaca-field-path="/DomesticHotWaterSystem/auc:DomesticHotWaterType/auc:StorageTank" data-alpaca-field-name="DomesticHotWaterSystem_auc:DomesticHotWaterType_auc:StorageTank">





                                            <div>


                                                <div>

                                                    <div class="alpaca-field alpaca-field-object" data-alpaca-field-id="alpaca33" data-alpaca-field-path="/DomesticHotWaterSystem/auc:DomesticHotWaterType/auc:StorageTank/auc:TankVolume" data-alpaca-field-name="DomesticHotWaterSystem_auc:DomesticHotWaterType_auc:StorageTank_auc:TankVolume">





                                                        <div>


                                                            <div>

                                                                <div class="alpaca-field alpaca-field-number" data-alpaca-field-id="alpaca36" data-alpaca-field-path="/DomesticHotWaterSystem/auc:DomesticHotWaterType/auc:StorageTank/auc:TankVolume/$" data-alpaca-field-name="DomesticHotWaterSystem_auc:DomesticHotWaterType_auc:StorageTank_auc:TankVolume_$">



                                                                    <div class="field" name="DomesticHotWaterSystem_auc:DomesticHotWaterType_auc:StorageTank_auc:TankVolume_$">

                                                                        <label> Tank Volume</label>

                                                                        <input type="text" id="alpaca36" ng-model="system[&#39;auc:DomesticHotWaterSystems&#39;][&#39;auc:DomesticHotWaterSystem&#39;][&#39;auc:DomesticHotWaterType&#39;][&#39;auc:StorageTank&#39;][&#39;auc:TankVolume&#39;][&#39;$&#39;]" name="DomesticHotWaterSystem_auc:DomesticHotWaterType_auc:StorageTank_auc:TankVolume_$">
                                                                    </div>



                                                                </div>

                                                            </div>


                                                        </div>



                                                    </div>

                                                </div>


                                            </div>



                                        </div>

                                    </div>


                                    <div>

                                        <div class="alpaca-field alpaca-field-object indent" ng-show="system['auc:DomesticHotWaterSystems']['auc:DomesticHotWaterSystem'].$ == 'Unknown'" data-alpaca-field-id="alpaca18" data-alpaca-field-path="/DomesticHotWaterSystem/auc:DomesticHotWaterType/auc:Unknown" data-alpaca-field-name="DomesticHotWaterSystem_auc:DomesticHotWaterType_auc:Unknown">





                                            <div>


                                                <div>

                                                    <div class="alpaca-field alpaca-field-text" data-alpaca-field-id="alpaca34" data-alpaca-field-path="/DomesticHotWaterSystem/auc:DomesticHotWaterType/auc:Unknown/$" data-alpaca-field-name="DomesticHotWaterSystem_auc:DomesticHotWaterType_auc:Unknown_$">



                                                        <div class="field" name="DomesticHotWaterSystem_auc:DomesticHotWaterType_auc:Unknown_$">

                                                            <label> Unknown</label>

                                                            <input type="text" id="alpaca34" ng-model="system[&#39;auc:DomesticHotWaterSystems&#39;][&#39;auc:DomesticHotWaterSystem&#39;][&#39;auc:DomesticHotWaterType&#39;][&#39;auc:Unknown&#39;][&#39;$&#39;]" name="DomesticHotWaterSystem_auc:DomesticHotWaterType_auc:Unknown_$">
                                                        </div>



                                                    </div>

                                                </div>


                                            </div>



                                        </div>

                                    </div>


                                </div>



                            </div>

                        </div>


                        <div>

                            <div class="alpaca-field alpaca-field-object" data-alpaca-field-id="alpaca5" data-alpaca-field-path="/DomesticHotWaterSystem/auc:HotWaterDistributionType" data-alpaca-field-name="DomesticHotWaterSystem_auc:HotWaterDistributionType">





                                <div>


                                    <div>

                                        <div class="alpaca-field alpaca-field-select" data-alpaca-field-id="alpaca19" data-alpaca-field-path="/DomesticHotWaterSystem/auc:HotWaterDistributionType/$" data-alpaca-field-name="DomesticHotWaterSystem_auc:HotWaterDistributionType_$">



                                            <div class="field" name="DomesticHotWaterSystem_auc:HotWaterDistributionType_$">
                                                <label> Hot Water Distribution Type</label>
                                                <select dropdown id="alpaca19" ng-model="system[&#39;auc:DomesticHotWaterSystems&#39;][&#39;auc:DomesticHotWaterSystem&#39;][&#39;auc:HotWaterDistributionType&#39;][&#39;$&#39;]" name="DomesticHotWaterSystem_auc:HotWaterDistributionType_$">


                                                    <option value="">None</option>

                                                    <option value="Distributed">Distributed</option>
                                                    <option value="Looped">Looped</option>
                                                    <option value="Other">Other</option>
                                                    <option value="Point-of-use">Point-of-use</option>
                                                    <option value="Unknown">Unknown</option>


                                                </select>
                                            </div>



                                        </div>

                                    </div>


                                </div>



                            </div>

                        </div>


                        <div>

                            <div class="alpaca-field alpaca-field-object" data-alpaca-field-id="alpaca6" data-alpaca-field-path="/DomesticHotWaterSystem/auc:WaterHeaterEfficiency" data-alpaca-field-name="DomesticHotWaterSystem_auc:WaterHeaterEfficiency">





                                <div>


                                    <div>

                                        <div class="alpaca-field alpaca-field-number" data-alpaca-field-id="alpaca20" data-alpaca-field-path="/DomesticHotWaterSystem/auc:WaterHeaterEfficiency/$" data-alpaca-field-name="DomesticHotWaterSystem_auc:WaterHeaterEfficiency_$">



                                            <div class="field" name="DomesticHotWaterSystem_auc:WaterHeaterEfficiency_$">

                                                <label> Water Heater Efficiency</label>

                                                <input type="text" id="alpaca20" ng-model="system[&#39;auc:DomesticHotWaterSystems&#39;][&#39;auc:DomesticHotWaterSystem&#39;][&#39;auc:WaterHeaterEfficiency&#39;][&#39;$&#39;]" name="DomesticHotWaterSystem_auc:WaterHeaterEfficiency_$">
                                            </div>



                                        </div>

                                    </div>


                                </div>



                            </div>

                        </div>


                        <div>

                            <div class="alpaca-field alpaca-field-object" data-alpaca-field-id="alpaca7" data-alpaca-field-path="/DomesticHotWaterSystem/auc:WaterHeaterEfficiencyType" data-alpaca-field-name="DomesticHotWaterSystem_auc:WaterHeaterEfficiencyType">





                                <div>


                                    <div>

                                        <div class="alpaca-field alpaca-field-select" data-alpaca-field-id="alpaca21" data-alpaca-field-path="/DomesticHotWaterSystem/auc:WaterHeaterEfficiencyType/$" data-alpaca-field-name="DomesticHotWaterSystem_auc:WaterHeaterEfficiencyType_$">



                                            <div class="field" name="DomesticHotWaterSystem_auc:WaterHeaterEfficiencyType_$">
                                                <label> Water Heater Efficiency Type</label>
                                                <select dropdown id="alpaca21" ng-model="system[&#39;auc:DomesticHotWaterSystems&#39;][&#39;auc:DomesticHotWaterSystem&#39;][&#39;auc:WaterHeaterEfficiencyType&#39;][&#39;$&#39;]" name="DomesticHotWaterSystem_auc:WaterHeaterEfficiencyType_$">


                                                    <option value="">None</option>

                                                    <option value="Energy Factor">Energy Factor</option>
                                                    <option value="Thermal Efficiency">Thermal Efficiency</option>


                                                </select>
                                            </div>



                                        </div>

                                    </div>


                                </div>



                            </div>

                        </div>


                        <div>

                            <div class="alpaca-field alpaca-field-object" data-alpaca-field-id="alpaca8" data-alpaca-field-path="/DomesticHotWaterSystem/auc:Capacity" data-alpaca-field-name="DomesticHotWaterSystem_auc:Capacity">





                                <div>


                                    <div>

                                        <div class="alpaca-field alpaca-field-number" data-alpaca-field-id="alpaca22" data-alpaca-field-path="/DomesticHotWaterSystem/auc:Capacity/$" data-alpaca-field-name="DomesticHotWaterSystem_auc:Capacity_$">



                                            <div class="field" name="DomesticHotWaterSystem_auc:Capacity_$">

                                                <label> Capacity</label>

                                                <input type="text" id="alpaca22" ng-model="system[&#39;auc:DomesticHotWaterSystems&#39;][&#39;auc:DomesticHotWaterSystem&#39;][&#39;auc:Capacity&#39;][&#39;$&#39;]" name="DomesticHotWaterSystem_auc:Capacity_$">
                                            </div>



                                        </div>

                                    </div>


                                    <div>

                                        <div class="alpaca-field alpaca-field-select" data-alpaca-field-id="alpaca23" data-alpaca-field-path="/DomesticHotWaterSystem/auc:Capacity/@auc:Source" data-alpaca-field-name="DomesticHotWaterSystem_auc:Capacity_@auc:Source">



                                            <div class="field" name="DomesticHotWaterSystem_auc:Capacity_@auc:Source">
                                                <label> Source</label>
                                                <select dropdown id="alpaca23" ng-model="system[&#39;auc:DomesticHotWaterSystems&#39;][&#39;auc:DomesticHotWaterSystem&#39;][&#39;auc:Capacity&#39;][&#39;@auc:Source&#39;]" name="DomesticHotWaterSystem_auc:Capacity_@auc:Source">


                                                    <option value="">None</option>

                                                    <option value="ASHRAE">ASHRAE</option>
                                                    <option value="Agent">Agent</option>
                                                    <option value="Arch2030">Arch2030</option>
                                                    <option value="Assessor">Assessor</option>
                                                    <option value="Auditor">Auditor</option>
                                                    <option value="Building Component Library">Building Component Library</option>
                                                    <option value="Default">Default</option>
                                                    <option value="Design files">Design files</option>
                                                    <option value="Direct measurement">Direct measurement</option>
                                                    <option value="ENERGY STAR Portfolio Manager">ENERGY STAR Portfolio Manager</option>
                                                    <option value="Energy Management System">Energy Management System</option>
                                                    <option value="Estimate">Estimate</option>
                                                    <option value="Other">Other</option>
                                                    <option value="Product specification">Product specification</option>
                                                    <option value="Simulation">Simulation</option>
                                                    <option value="Target Finder">Target Finder</option>
                                                    <option value="US EIA">US EIA</option>
                                                    <option value="US EPA">US EPA</option>
                                                    <option value="Utility transfer">Utility transfer</option>


                                                </select>
                                            </div>



                                        </div>

                                    </div>


                                </div>



                            </div>

                        </div>


                        <div>

                            <div class="alpaca-field alpaca-field-object" data-alpaca-field-id="alpaca9" data-alpaca-field-path="/DomesticHotWaterSystem/.auc:CapacityUnits" data-alpaca-field-name="DomesticHotWaterSystem_.auc:CapacityUnits">





                                <div>


                                    <div>

                                        <div class="alpaca-field alpaca-field-select" data-alpaca-field-id="alpaca24" data-alpaca-field-path="/DomesticHotWaterSystem/.auc:CapacityUnits/$" data-alpaca-field-name="DomesticHotWaterSystem_.auc:CapacityUnits_$">



                                            <div class="field" name="DomesticHotWaterSystem_.auc:CapacityUnits_$">
                                                <label> Capacity Units</label>
                                                <select dropdown id="alpaca24" ng-model="system[&#39;auc:DomesticHotWaterSystems&#39;][&#39;auc:DomesticHotWaterSystem&#39;][&#39;auc:.auc:CapacityUnits&#39;][&#39;$&#39;]" name="DomesticHotWaterSystem_.auc:CapacityUnits_$">


                                                    <option value="">None</option>

                                                    <option value="Btu/h">Btu/h</option>
                                                    <option value="Btu/s">Btu/s</option>
                                                    <option value="Klbs/h">Klbs/h</option>
                                                    <option value="MCF/day">MCF/day</option>
                                                    <option value="MMBtu/h">MMBtu/h</option>
                                                    <option value="MW">MW</option>
                                                    <option value="Mlbs/h">Mlbs/h</option>
                                                    <option value="Other">Other</option>
                                                    <option value="Tons">Tons</option>
                                                    <option value="W">W</option>
                                                    <option value="cal/h">cal/h</option>
                                                    <option value="cfh">cfh</option>
                                                    <option value="cfm">cfm</option>
                                                    <option value="ft-lbf/h">ft-lbf/h</option>
                                                    <option value="ft-lbf/min">ft-lbf/min</option>
                                                    <option value="gpm">gpm</option>
                                                    <option value="hp">hp</option>
                                                    <option value="kBtu/h">kBtu/h</option>
                                                    <option value="kW">kW</option>
                                                    <option value="kcf/h">kcf/h</option>
                                                    <option value="lbs/h">lbs/h</option>
                                                    <option value="therms/h">therms/h</option>


                                                </select>
                                            </div>



                                        </div>

                                    </div>


                                </div>



                            </div>

                        </div>


                        <div>

                            <div class="alpaca-field alpaca-field-object" data-alpaca-field-id="alpaca10" data-alpaca-field-path="/DomesticHotWaterSystem/auc:Manufacturer" data-alpaca-field-name="DomesticHotWaterSystem_auc:Manufacturer">





                                <div>


                                    <div>

                                        <div class="alpaca-field alpaca-field-text" data-alpaca-field-id="alpaca25" data-alpaca-field-path="/DomesticHotWaterSystem/auc:Manufacturer/$" data-alpaca-field-name="DomesticHotWaterSystem_auc:Manufacturer_$">



                                            <div class="field" name="DomesticHotWaterSystem_auc:Manufacturer_$">

                                                <label> Manufacturer</label>

                                                <input type="text" id="alpaca25" ng-model="system[&#39;auc:DomesticHotWaterSystems&#39;][&#39;auc:DomesticHotWaterSystem&#39;][&#39;auc:Manufacturer&#39;][&#39;$&#39;]" name="DomesticHotWaterSystem_auc:Manufacturer_$">
                                            </div>



                                        </div>

                                    </div>


                                </div>



                            </div>

                        </div>


                        <div>

                            <div class="alpaca-field alpaca-field-object" data-alpaca-field-id="alpaca11" data-alpaca-field-path="/DomesticHotWaterSystem/auc:ModelNumber" data-alpaca-field-name="DomesticHotWaterSystem_auc:ModelNumber">





                                <div>


                                    <div>

                                        <div class="alpaca-field alpaca-field-text" data-alpaca-field-id="alpaca26" data-alpaca-field-path="/DomesticHotWaterSystem/auc:ModelNumber/$" data-alpaca-field-name="DomesticHotWaterSystem_auc:ModelNumber_$">



                                            <div class="field" name="DomesticHotWaterSystem_auc:ModelNumber_$">

                                                <label> Model Number</label>

                                                <input type="text" id="alpaca26" ng-model="system[&#39;auc:DomesticHotWaterSystems&#39;][&#39;auc:DomesticHotWaterSystem&#39;][&#39;auc:ModelNumber&#39;][&#39;$&#39;]" name="DomesticHotWaterSystem_auc:ModelNumber_$">
                                            </div>



                                        </div>

                                    </div>


                                </div>



                            </div>

                        </div>


                        <div>

                            <div class="alpaca-field alpaca-field-object" data-alpaca-field-id="alpaca12" data-alpaca-field-path="/DomesticHotWaterSystem/auc:Quantity" data-alpaca-field-name="DomesticHotWaterSystem_auc:Quantity">





                                <div>


                                    <div>

                                        <div class="alpaca-field alpaca-field-integer" data-alpaca-field-id="alpaca27" data-alpaca-field-path="/DomesticHotWaterSystem/auc:Quantity/$" data-alpaca-field-name="DomesticHotWaterSystem_auc:Quantity_$">



                                            <div class="field" name="DomesticHotWaterSystem_auc:Quantity_$">

                                                <label> Quantity</label>

                                                <input type="text" id="alpaca27" ng-model="system[&#39;auc:DomesticHotWaterSystems&#39;][&#39;auc:DomesticHotWaterSystem&#39;][&#39;auc:Quantity&#39;][&#39;$&#39;]" name="DomesticHotWaterSystem_auc:Quantity_$">
                                            </div>



                                        </div>

                                    </div>


                                    <div>

                                        <div class="alpaca-field alpaca-field-select" data-alpaca-field-id="alpaca28" data-alpaca-field-path="/DomesticHotWaterSystem/auc:Quantity/@auc:Source" data-alpaca-field-name="DomesticHotWaterSystem_auc:Quantity_@auc:Source">



                                            <div class="field" name="DomesticHotWaterSystem_auc:Quantity_@auc:Source">
                                                <label> Source</label>
                                                <select dropdown id="alpaca28" ng-model="system[&#39;auc:DomesticHotWaterSystems&#39;][&#39;auc:DomesticHotWaterSystem&#39;][&#39;auc:Quantity&#39;][&#39;@auc:Source&#39;]" name="DomesticHotWaterSystem_auc:Quantity_@auc:Source">


                                                    <option value="">None</option>

                                                    <option value="ASHRAE">ASHRAE</option>
                                                    <option value="Agent">Agent</option>
                                                    <option value="Arch2030">Arch2030</option>
                                                    <option value="Assessor">Assessor</option>
                                                    <option value="Auditor">Auditor</option>
                                                    <option value="Building Component Library">Building Component Library</option>
                                                    <option value="Default">Default</option>
                                                    <option value="Design files">Design files</option>
                                                    <option value="Direct measurement">Direct measurement</option>
                                                    <option value="ENERGY STAR Portfolio Manager">ENERGY STAR Portfolio Manager</option>
                                                    <option value="Energy Management System">Energy Management System</option>
                                                    <option value="Estimate">Estimate</option>
                                                    <option value="Other">Other</option>
                                                    <option value="Product specification">Product specification</option>
                                                    <option value="Simulation">Simulation</option>
                                                    <option value="Target Finder">Target Finder</option>
                                                    <option value="US EIA">US EIA</option>
                                                    <option value="US EPA">US EPA</option>
                                                    <option value="Utility transfer">Utility transfer</option>


                                                </select>
                                            </div>



                                        </div>

                                    </div>


                                </div>



                            </div>

                        </div>


                        <div>

                            <div class="alpaca-field alpaca-field-object" data-alpaca-field-id="alpaca13" data-alpaca-field-path="/DomesticHotWaterSystem/auc:YearInstalled" data-alpaca-field-name="DomesticHotWaterSystem_auc:YearInstalled">





                                <div>


                                    <div>

                                        <div class="alpaca-field alpaca-field-text" data-alpaca-field-id="alpaca29" data-alpaca-field-path="/DomesticHotWaterSystem/auc:YearInstalled/$" data-alpaca-field-name="DomesticHotWaterSystem_auc:YearInstalled_$">



                                            <div class="field" name="DomesticHotWaterSystem_auc:YearInstalled_$">

                                                <label> Year Installed</label>

                                                <input type="text" id="alpaca29" ng-model="system[&#39;auc:DomesticHotWaterSystems&#39;][&#39;auc:DomesticHotWaterSystem&#39;][&#39;auc:YearInstalled&#39;][&#39;$&#39;]" name="DomesticHotWaterSystem_auc:YearInstalled_$">
                                            </div>



                                        </div>

                                    </div>


                                </div>



                            </div>

                        </div>


                        <div>

                            <div class="alpaca-field alpaca-field-object" data-alpaca-field-id="alpaca14" data-alpaca-field-path="/DomesticHotWaterSystem/auc:YearofManufacture" data-alpaca-field-name="DomesticHotWaterSystem_auc:YearofManufacture">





                                <div>


                                    <div>

                                        <div class="alpaca-field alpaca-field-text" data-alpaca-field-id="alpaca30" data-alpaca-field-path="/DomesticHotWaterSystem/auc:YearofManufacture/$" data-alpaca-field-name="DomesticHotWaterSystem_auc:YearofManufacture_$">



                                            <div class="field" name="DomesticHotWaterSystem_auc:YearofManufacture_$">

                                                <label> Yearof Manufacture</label>

                                                <input type="text" id="alpaca30" ng-model="system[&#39;auc:DomesticHotWaterSystems&#39;][&#39;auc:DomesticHotWaterSystem&#39;][&#39;auc:YearofManufacture&#39;][&#39;$&#39;]" name="DomesticHotWaterSystem_auc:YearofManufacture_$">
                                            </div>



                                        </div>

                                    </div>


                                </div>



                            </div>

                        </div>


                    </div>



                </div>

            </div>


        </div>



    </div>

    <div class="alpaca-form-buttons-container">
    </div>

</form></div>