<div id="form" class=""><form role="form" class="ui form alpaca-form" id="alpaca2" data-alpaca-form-id="alpaca2">

    <div class="alpaca-field alpaca-field-object alpaca-optional alpaca-edit alpaca-top alpaca-field-valid" data-alpaca-field-id="alpaca1" data-alpaca-field-path="/" data-alpaca-field-name="">

        <legend class=" alpaca-container-label"> </legend>




        <div class="alpaca-container alpaca-vertical alpaca-container-has-items" data-alpaca-container-item-count="1">


            <div class="alpaca-container-item alpaca-container-item-first alpaca-container-item-last" data-alpaca-container-item-index="0" data-alpaca-container-item-name="FanSystem" data-alpaca-container-item-parent-field-id="alpaca1">

                <div class="alpaca-field alpaca-field-object alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca3" data-alpaca-field-path="/FanSystem" data-alpaca-field-name="FanSystem">





                    <div class="alpaca-container alpaca-vertical alpaca-container-has-items" data-alpaca-container-item-count="8">


                        <div class="alpaca-container-item alpaca-container-item-first" data-alpaca-container-item-index="0" data-alpaca-container-item-name="FanSystem_auc:FanApplication" data-alpaca-container-item-parent-field-id="alpaca3">

                            <div class="alpaca-field alpaca-field-object alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca4" data-alpaca-field-path="/FanSystem/auc:FanApplication" data-alpaca-field-name="FanSystem_auc:FanApplication">





                                <div class="alpaca-container alpaca-vertical alpaca-container-has-items" data-alpaca-container-item-count="1">


                                    <div class="alpaca-container-item alpaca-container-item-first alpaca-container-item-last" data-alpaca-container-item-index="0" data-alpaca-container-item-name="FanSystem_auc:FanApplication_$" data-alpaca-container-item-parent-field-id="alpaca4">

                                        <div class="alpaca-field alpaca-field-select alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca12" data-alpaca-field-path="/FanSystem/auc:FanApplication/$" data-alpaca-field-name="FanSystem_auc:FanApplication_$">



                                            <div class="field alpaca-control" name="FanSystem_auc:FanApplication_$">
                                                <label>Fan Application</label>
                                                <select id="alpaca12" ng-model="system[&#39;auc:FanSystems&#39;][&#39;auc:FanSystem&#39;][&#39;auc:FanApplication&#39;][&#39;$&#39;]" name="FanSystem_auc:FanApplication_$">


                                                    <option value="">None</option>

                                                    <option value="Exhaust">Exhaust</option>
                                                    <option value="Other">Other</option>
                                                    <option value="Return">Return</option>
                                                    <option value="Supply">Supply</option>
                                                    <option value="Unknown">Unknown</option>


                                                </select>
                                            </div>



                                        </div>

                                    </div>


                                </div>



                            </div>

                        </div>


                        <div class="alpaca-container-item" data-alpaca-container-item-index="1" data-alpaca-container-item-name="FanSystem_auc:FanControlType" data-alpaca-container-item-parent-field-id="alpaca3">

                            <div class="alpaca-field alpaca-field-object alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca5" data-alpaca-field-path="/FanSystem/auc:FanControlType" data-alpaca-field-name="FanSystem_auc:FanControlType">





                                <div class="alpaca-container alpaca-vertical alpaca-container-has-items" data-alpaca-container-item-count="1">


                                    <div class="alpaca-container-item alpaca-container-item-first alpaca-container-item-last" data-alpaca-container-item-index="0" data-alpaca-container-item-name="FanSystem_auc:FanControlType_$" data-alpaca-container-item-parent-field-id="alpaca5">

                                        <div class="alpaca-field alpaca-field-select alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca13" data-alpaca-field-path="/FanSystem/auc:FanControlType/$" data-alpaca-field-name="FanSystem_auc:FanControlType_$">



                                            <div class="field alpaca-control" name="FanSystem_auc:FanControlType_$">
                                                <label>Fan Control Type</label>
                                                <select id="alpaca13" ng-model="system[&#39;auc:FanSystems&#39;][&#39;auc:FanSystem&#39;][&#39;auc:FanControlType&#39;][&#39;$&#39;]" name="FanSystem_auc:FanControlType_$">


                                                    <option value="">None</option>

                                                    <option value="Constant Volume">Constant Volume</option>
                                                    <option value="Other">Other</option>
                                                    <option value="Stepped">Stepped</option>
                                                    <option value="Unknown">Unknown</option>
                                                    <option value="Variable Volume">Variable Volume</option>


                                                </select>
                                            </div>



                                        </div>

                                    </div>


                                </div>



                            </div>

                        </div>


                        <div class="alpaca-container-item" data-alpaca-container-item-index="2" data-alpaca-container-item-name="FanSystem_auc:FanType" data-alpaca-container-item-parent-field-id="alpaca3">

                            <div class="alpaca-field alpaca-field-object alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca6" data-alpaca-field-path="/FanSystem/auc:FanType" data-alpaca-field-name="FanSystem_auc:FanType">





                                <div class="alpaca-container alpaca-vertical alpaca-container-has-items" data-alpaca-container-item-count="1">


                                    <div class="alpaca-container-item alpaca-container-item-first alpaca-container-item-last" data-alpaca-container-item-index="0" data-alpaca-container-item-name="FanSystem_auc:FanType_$" data-alpaca-container-item-parent-field-id="alpaca6">

                                        <div class="alpaca-field alpaca-field-select alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca14" data-alpaca-field-path="/FanSystem/auc:FanType/$" data-alpaca-field-name="FanSystem_auc:FanType_$">



                                            <div class="field alpaca-control" name="FanSystem_auc:FanType_$">
                                                <label>Fan Type</label>
                                                <select id="alpaca14" ng-model="system[&#39;auc:FanSystems&#39;][&#39;auc:FanSystem&#39;][&#39;auc:FanType&#39;][&#39;$&#39;]" name="FanSystem_auc:FanType_$">


                                                    <option value="">None</option>

                                                    <option value="Axial">Axial</option>
                                                    <option value="Centrifugal">Centrifugal</option>
                                                    <option value="Other">Other</option>
                                                    <option value="Unknown">Unknown</option>


                                                </select>
                                            </div>



                                        </div>

                                    </div>


                                </div>



                            </div>

                        </div>


                        <div class="alpaca-container-item" data-alpaca-container-item-index="3" data-alpaca-container-item-name="FanSystem_auc:Manufacturer" data-alpaca-container-item-parent-field-id="alpaca3">

                            <div class="alpaca-field alpaca-field-object alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca7" data-alpaca-field-path="/FanSystem/auc:Manufacturer" data-alpaca-field-name="FanSystem_auc:Manufacturer">





                                <div class="alpaca-container alpaca-vertical alpaca-container-has-items" data-alpaca-container-item-count="1">


                                    <div class="alpaca-container-item alpaca-container-item-first alpaca-container-item-last" data-alpaca-container-item-index="0" data-alpaca-container-item-name="FanSystem_auc:Manufacturer_$" data-alpaca-container-item-parent-field-id="alpaca7">

                                        <div class="alpaca-field alpaca-field-text alpaca-optional alpaca-autocomplete alpaca-field-valid" data-alpaca-field-id="alpaca15" data-alpaca-field-path="/FanSystem/auc:Manufacturer/$" data-alpaca-field-name="FanSystem_auc:Manufacturer_$">



                                            <div class="field alpaca-control" name="FanSystem_auc:Manufacturer_$" autocomplete="off">
                                                <label>Manufacturer</label>
                                                <input type="text" id="alpaca15" ng-model="system[&#39;auc:FanSystems&#39;][&#39;auc:FanSystem&#39;][&#39;auc:Manufacturer&#39;][&#39;$&#39;]" name="FanSystem_auc:Manufacturer_$">
                                            </div>



                                        </div>

                                    </div>


                                </div>



                            </div>

                        </div>


                        <div class="alpaca-container-item" data-alpaca-container-item-index="4" data-alpaca-container-item-name="FanSystem_auc:ModelNumber" data-alpaca-container-item-parent-field-id="alpaca3">

                            <div class="alpaca-field alpaca-field-object alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca8" data-alpaca-field-path="/FanSystem/auc:ModelNumber" data-alpaca-field-name="FanSystem_auc:ModelNumber">





                                <div class="alpaca-container alpaca-vertical alpaca-container-has-items" data-alpaca-container-item-count="1">


                                    <div class="alpaca-container-item alpaca-container-item-first alpaca-container-item-last" data-alpaca-container-item-index="0" data-alpaca-container-item-name="FanSystem_auc:ModelNumber_$" data-alpaca-container-item-parent-field-id="alpaca8">

                                        <div class="alpaca-field alpaca-field-text alpaca-optional alpaca-autocomplete alpaca-field-valid" data-alpaca-field-id="alpaca16" data-alpaca-field-path="/FanSystem/auc:ModelNumber/$" data-alpaca-field-name="FanSystem_auc:ModelNumber_$">



                                            <div class="field alpaca-control" name="FanSystem_auc:ModelNumber_$" autocomplete="off">
                                                <label>Model Number</label>
                                                <input type="text" id="alpaca16" ng-model="system[&#39;auc:FanSystems&#39;][&#39;auc:FanSystem&#39;][&#39;auc:ModelNumber&#39;][&#39;$&#39;]" name="FanSystem_auc:ModelNumber_$">
                                            </div>



                                        </div>

                                    </div>


                                </div>



                            </div>

                        </div>


                        <div class="alpaca-container-item" data-alpaca-container-item-index="5" data-alpaca-container-item-name="FanSystem_auc:Quantity" data-alpaca-container-item-parent-field-id="alpaca3">

                            <div class="alpaca-field alpaca-field-object alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca9" data-alpaca-field-path="/FanSystem/auc:Quantity" data-alpaca-field-name="FanSystem_auc:Quantity">





                                <div class="alpaca-container alpaca-vertical alpaca-container-has-items" data-alpaca-container-item-count="2">


                                    <div class="alpaca-container-item alpaca-container-item-first" data-alpaca-container-item-index="0" data-alpaca-container-item-name="FanSystem_auc:Quantity_$" data-alpaca-container-item-parent-field-id="alpaca9">

                                        <div class="alpaca-field alpaca-field-integer alpaca-optional alpaca-autocomplete alpaca-field-valid" data-alpaca-field-id="alpaca17" data-alpaca-field-path="/FanSystem/auc:Quantity/$" data-alpaca-field-name="FanSystem_auc:Quantity_$">



                                            <div class="field alpaca-control" name="FanSystem_auc:Quantity_$" autocomplete="off">
                                                <label>Quantity</label>
                                                <input type="text" id="alpaca17" ng-model="system[&#39;auc:FanSystems&#39;][&#39;auc:FanSystem&#39;][&#39;auc:Quantity&#39;][&#39;$&#39;]" name="FanSystem_auc:Quantity_$">
                                            </div>



                                        </div>

                                    </div>


                                    <div class="alpaca-container-item alpaca-container-item-last" data-alpaca-container-item-index="1" data-alpaca-container-item-name="FanSystem_auc:Quantity_@auc:Source" data-alpaca-container-item-parent-field-id="alpaca9">

                                        <div class="alpaca-field alpaca-field-select alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca18" data-alpaca-field-path="/FanSystem/auc:Quantity/@auc:Source" data-alpaca-field-name="FanSystem_auc:Quantity_@auc:Source">



                                            <div class="field alpaca-control" name="FanSystem_auc:Quantity_@auc:Source">
                                                <label>Source</label>
                                                <select id="alpaca18" ng-model="system[&#39;auc:FanSystems&#39;][&#39;auc:FanSystem&#39;][&#39;auc:Quantity&#39;][&#39;@auc:Source&#39;]" name="FanSystem_auc:Quantity_@auc:Source">


                                                    <option value="">None</option>

                                                    <option value="ASHRAE">ASHRAE</option>
                                                    <option value="Agent">Agent</option>
                                                    <option value="Arch2030">Arch2030</option>
                                                    <option value="Assessor">Assessor</option>
                                                    <option value="Auditor">Auditor</option>
                                                    <option value="Building Component Library">Building Component Library</option>
                                                    <option value="Default">Default</option>
                                                    <option value="Design files">Design files</option>
                                                    <option value="Direct measurement">Direct measurement</option>
                                                    <option value="ENERGY STAR Portfolio Manager">ENERGY STAR Portfolio Manager</option>
                                                    <option value="Energy Management System">Energy Management System</option>
                                                    <option value="Estimate">Estimate</option>
                                                    <option value="Other">Other</option>
                                                    <option value="Product specification">Product specification</option>
                                                    <option value="Simulation">Simulation</option>
                                                    <option value="Target Finder">Target Finder</option>
                                                    <option value="US EIA">US EIA</option>
                                                    <option value="US EPA">US EPA</option>
                                                    <option value="Utility transfer">Utility transfer</option>


                                                </select>
                                            </div>



                                        </div>

                                    </div>


                                </div>



                            </div>

                        </div>


                        <div class="alpaca-container-item" data-alpaca-container-item-index="6" data-alpaca-container-item-name="FanSystem_auc:YearInstalled" data-alpaca-container-item-parent-field-id="alpaca3">

                            <div class="alpaca-field alpaca-field-object alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca10" data-alpaca-field-path="/FanSystem/auc:YearInstalled" data-alpaca-field-name="FanSystem_auc:YearInstalled">





                                <div class="alpaca-container alpaca-vertical alpaca-container-has-items" data-alpaca-container-item-count="1">


                                    <div class="alpaca-container-item alpaca-container-item-first alpaca-container-item-last" data-alpaca-container-item-index="0" data-alpaca-container-item-name="FanSystem_auc:YearInstalled_$" data-alpaca-container-item-parent-field-id="alpaca10">

                                        <div class="alpaca-field alpaca-field-text alpaca-optional alpaca-autocomplete alpaca-field-valid" data-alpaca-field-id="alpaca19" data-alpaca-field-path="/FanSystem/auc:YearInstalled/$" data-alpaca-field-name="FanSystem_auc:YearInstalled_$">



                                            <div class="field alpaca-control" name="FanSystem_auc:YearInstalled_$" autocomplete="off">
                                                <label>Year Installed</label>
                                                <input type="text" id="alpaca19" ng-model="system[&#39;auc:FanSystems&#39;][&#39;auc:FanSystem&#39;][&#39;auc:YearInstalled&#39;][&#39;$&#39;]" name="FanSystem_auc:YearInstalled_$">
                                            </div>



                                        </div>

                                    </div>


                                </div>



                            </div>

                        </div>


                        <div class="alpaca-container-item alpaca-container-item-last" data-alpaca-container-item-index="7" data-alpaca-container-item-name="FanSystem_auc:YearofManufacture" data-alpaca-container-item-parent-field-id="alpaca3">

                            <div class="alpaca-field alpaca-field-object alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca11" data-alpaca-field-path="/FanSystem/auc:YearofManufacture" data-alpaca-field-name="FanSystem_auc:YearofManufacture">





                                <div class="alpaca-container alpaca-vertical alpaca-container-has-items" data-alpaca-container-item-count="1">


                                    <div class="alpaca-container-item alpaca-container-item-first alpaca-container-item-last" data-alpaca-container-item-index="0" data-alpaca-container-item-name="FanSystem_auc:YearofManufacture_$" data-alpaca-container-item-parent-field-id="alpaca11">

                                        <div class="alpaca-field alpaca-field-text alpaca-optional alpaca-autocomplete alpaca-field-valid" data-alpaca-field-id="alpaca20" data-alpaca-field-path="/FanSystem/auc:YearofManufacture/$" data-alpaca-field-name="FanSystem_auc:YearofManufacture_$">



                                            <div class="field alpaca-control" name="FanSystem_auc:YearofManufacture_$" autocomplete="off">
                                                <label>Year of Manufacture</label>
                                                <input type="text" id="alpaca20" ng-model="system[&#39;auc:FanSystems&#39;][&#39;auc:FanSystem&#39;][&#39;auc:YearofManufacture&#39;][&#39;$&#39;]" name="FanSystem_auc:YearofManufacture_$">
                                            </div>



                                        </div>

                                    </div>


                                </div>



                            </div>

                        </div>


                    </div>



                </div>

            </div>


        </div>



    </div>

    <div class="alpaca-form-buttons-container">
    </div>

</form></div>