<div id="form" class=""><form role="form" class="ui form">

    <div class="alpaca-field alpaca-field-object" data-alpaca-field-id="alpaca1" data-alpaca-field-path="/" data-alpaca-field-name="">

        <legend class=" alpaca-container-label"> </legend>




        <div>


            <div>

                <div class="alpaca-field alpaca-field-object" data-alpaca-field-id="alpaca2" data-alpaca-field-path="/FenestrationSystem" data-alpaca-field-name="FenestrationSystem">





                    <div>


                        <div>

                            <div class="alpaca-field alpaca-field-object" data-alpaca-field-id="alpaca3" data-alpaca-field-path="/FenestrationSystem/auc:FenestrationType" data-alpaca-field-name="FenestrationSystem_auc:FenestrationType">





                                <div>


                                    <div>

                                        <div class="alpaca-field alpaca-field-select" data-alpaca-field-id="alpaca13" data-alpaca-field-path="/FenestrationSystem/auc:FenestrationType/$" data-alpaca-field-name="FenestrationSystem_auc:FenestrationType_$">



                                            <div class="field" name="FenestrationSystem_auc:FenestrationType_$">
                                                <label> Fenestration Type</label>
                                                <select id="alpaca13" ng-model="system[&#39;auc:FenestrationSystems&#39;][&#39;auc:FenestrationSystem&#39;][&#39;auc:FenestrationType&#39;][&#39;$&#39;]" name="FenestrationSystem_auc:FenestrationType_$">


                                                    <option value="">None</option>

                                                    <option value="Other">Other</option>
                                                    <option value="Window">Window</option>


                                                </select>
                                            </div>



                                        </div>

                                    </div>


                                    <div>

                                        <div class="alpaca-field alpaca-field-object indent" ng-show="system['auc:FenestrationSystems']['auc:FenestrationSystem']['auc:FenestrationType'].$ == 'Window'" data-alpaca-field-id="alpaca14" data-alpaca-field-path="/FenestrationSystem/auc:FenestrationType/auc:Window" data-alpaca-field-name="FenestrationSystem_auc:FenestrationType_auc:Window">





                                            <div>


                                                <div>

                                                    <div class="alpaca-field alpaca-field-object" data-alpaca-field-id="alpaca26" data-alpaca-field-path="/FenestrationSystem/auc:FenestrationType/auc:Window/auc:WindowHeight" data-alpaca-field-name="FenestrationSystem_auc:FenestrationType_auc:Window_auc:WindowHeight">





                                                        <div>


                                                            <div>

                                                                <div class="alpaca-field alpaca-field-number" data-alpaca-field-id="alpaca31" data-alpaca-field-path="/FenestrationSystem/auc:FenestrationType/auc:Window/auc:WindowHeight/$" data-alpaca-field-name="FenestrationSystem_auc:FenestrationType_auc:Window_auc:WindowHeight_$">



                                                                    <div class="field" name="FenestrationSystem_auc:FenestrationType_auc:Window_auc:WindowHeight_$">

                                                                        <label> Window Height</label>

                                                                        <input type="text" id="alpaca31" ng-model="system[&#39;auc:FenestrationSystems&#39;][&#39;auc:FenestrationSystem&#39;][&#39;auc:FenestrationType&#39;][&#39;auc:Window&#39;][&#39;auc:WindowHeight&#39;][&#39;$&#39;]" name="FenestrationSystem_auc:FenestrationType_auc:Window_auc:WindowHeight_$">
                                                                    </div>



                                                                </div>

                                                            </div>


                                                        </div>



                                                    </div>

                                                </div>


                                                <div>

                                                    <div class="alpaca-field alpaca-field-object" data-alpaca-field-id="alpaca27" data-alpaca-field-path="/FenestrationSystem/auc:FenestrationType/auc:Window/auc:WindowWidth" data-alpaca-field-name="FenestrationSystem_auc:FenestrationType_auc:Window_auc:WindowWidth">





                                                        <div>


                                                            <div>

                                                                <div class="alpaca-field alpaca-field-number" data-alpaca-field-id="alpaca32" data-alpaca-field-path="/FenestrationSystem/auc:FenestrationType/auc:Window/auc:WindowWidth/$" data-alpaca-field-name="FenestrationSystem_auc:FenestrationType_auc:Window_auc:WindowWidth_$">



                                                                    <div class="field" name="FenestrationSystem_auc:FenestrationType_auc:Window_auc:WindowWidth_$">

                                                                        <label> Window Width</label>

                                                                        <input type="text" id="alpaca32" ng-model="system[&#39;auc:FenestrationSystems&#39;][&#39;auc:FenestrationSystem&#39;][&#39;auc:FenestrationType&#39;][&#39;auc:Window&#39;][&#39;auc:WindowWidth&#39;][&#39;$&#39;]" name="FenestrationSystem_auc:FenestrationType_auc:Window_auc:WindowWidth_$">
                                                                    </div>



                                                                </div>

                                                            </div>


                                                        </div>



                                                    </div>

                                                </div>


                                                <div>

                                                    <div class="alpaca-field alpaca-field-object" data-alpaca-field-id="alpaca28" data-alpaca-field-path="/FenestrationSystem/auc:FenestrationType/auc:Window/auc:WindowHorizontalSpacing" data-alpaca-field-name="FenestrationSystem_auc:FenestrationType_auc:Window_auc:WindowHorizontalSpacing">





                                                        <div>


                                                            <div>

                                                                <div class="alpaca-field alpaca-field-number" data-alpaca-field-id="alpaca33" data-alpaca-field-path="/FenestrationSystem/auc:FenestrationType/auc:Window/auc:WindowHorizontalSpacing/$" data-alpaca-field-name="FenestrationSystem_auc:FenestrationType_auc:Window_auc:WindowHorizontalSpacing_$">



                                                                    <div class="field" name="FenestrationSystem_auc:FenestrationType_auc:Window_auc:WindowHorizontalSpacing_$">

                                                                        <label> Window Horizontal Spacing</label>

                                                                        <input type="text" id="alpaca33" ng-model="system[&#39;auc:FenestrationSystems&#39;][&#39;auc:FenestrationSystem&#39;][&#39;auc:FenestrationType&#39;][&#39;auc:Window&#39;][&#39;auc:WindowHorizontalSpacing&#39;][&#39;$&#39;]" name="FenestrationSystem_auc:FenestrationType_auc:Window_auc:WindowHorizontalSpacing_$">
                                                                    </div>



                                                                </div>

                                                            </div>


                                                        </div>



                                                    </div>

                                                </div>


                                                <div>

                                                    <div class="alpaca-field alpaca-field-object" data-alpaca-field-id="alpaca29" data-alpaca-field-path="/FenestrationSystem/auc:FenestrationType/auc:Window/auc:WindowOrientation" data-alpaca-field-name="FenestrationSystem_auc:FenestrationType_auc:Window_auc:WindowOrientation">





                                                        <div>


                                                            <div>

                                                                <div class="alpaca-field alpaca-field-select" data-alpaca-field-id="alpaca34" data-alpaca-field-path="/FenestrationSystem/auc:FenestrationType/auc:Window/auc:WindowOrientation/$" data-alpaca-field-name="FenestrationSystem_auc:FenestrationType_auc:Window_auc:WindowOrientation_$">



                                                                    <div class="field" name="FenestrationSystem_auc:FenestrationType_auc:Window_auc:WindowOrientation_$">
                                                                        <label> Window Orientation</label>
                                                                        <select id="alpaca34" ng-model="system[&#39;auc:FenestrationSystems&#39;][&#39;auc:FenestrationSystem&#39;][&#39;auc:FenestrationType&#39;][&#39;auc:Window&#39;][&#39;auc:WindowOrientation&#39;][&#39;$&#39;]" name="FenestrationSystem_auc:FenestrationType_auc:Window_auc:WindowOrientation_$">


                                                                            <option value="">None</option>

                                                                            <option value="East">East</option>
                                                                            <option value="North">North</option>
                                                                            <option value="Northeast">Northeast</option>
                                                                            <option value="Northwest">Northwest</option>
                                                                            <option value="South">South</option>
                                                                            <option value="Southeast">Southeast</option>
                                                                            <option value="Southwest">Southwest</option>
                                                                            <option value="Unknown">Unknown</option>
                                                                            <option value="West">West</option>


                                                                        </select>
                                                                    </div>



                                                                </div>

                                                            </div>


                                                        </div>



                                                    </div>

                                                </div>


                                            </div>



                                        </div>

                                    </div>


                                    <div>

                                        <div class="alpaca-field alpaca-field-object indent" ng-show="system['auc:FenestrationSystems']['auc:FenestrationSystem']['auc:FenestrationType'].$ == 'Other'" data-alpaca-field-id="alpaca15" data-alpaca-field-path="/FenestrationSystem/auc:FenestrationType/auc:Other" data-alpaca-field-name="FenestrationSystem_auc:FenestrationType_auc:Other">





                                            <div>


                                                <div>

                                                    <div class="alpaca-field alpaca-field-text" data-alpaca-field-id="alpaca30" data-alpaca-field-path="/FenestrationSystem/auc:FenestrationType/auc:Other/$" data-alpaca-field-name="FenestrationSystem_auc:FenestrationType_auc:Other_$">



                                                        <div class="field" name="FenestrationSystem_auc:FenestrationType_auc:Other_$">

                                                            <label> Other</label>

                                                            <input type="text" id="alpaca30" ng-model="system[&#39;auc:FenestrationSystems&#39;][&#39;auc:FenestrationSystem&#39;][&#39;auc:FenestrationType&#39;][&#39;auc:Other&#39;][&#39;$&#39;]" name="FenestrationSystem_auc:FenestrationType_auc:Other_$">
                                                        </div>



                                                    </div>

                                                </div>


                                            </div>



                                        </div>

                                    </div>


                                </div>



                            </div>

                        </div>


                        <div>

                            <div class="alpaca-field alpaca-field-object" data-alpaca-field-id="alpaca4" data-alpaca-field-path="/FenestrationSystem/auc:FenestrationFrameMaterial" data-alpaca-field-name="FenestrationSystem_auc:FenestrationFrameMaterial">





                                <div>


                                    <div>

                                        <div class="alpaca-field alpaca-field-select" data-alpaca-field-id="alpaca16" data-alpaca-field-path="/FenestrationSystem/auc:FenestrationFrameMaterial/$" data-alpaca-field-name="FenestrationSystem_auc:FenestrationFrameMaterial_$">



                                            <div class="field" name="FenestrationSystem_auc:FenestrationFrameMaterial_$">
                                                <label> Fenestration Frame Material</label>
                                                <select id="alpaca16" ng-model="system[&#39;auc:FenestrationSystems&#39;][&#39;auc:FenestrationSystem&#39;][&#39;auc:FenestrationFrameMaterial&#39;][&#39;$&#39;]" name="FenestrationSystem_auc:FenestrationFrameMaterial_$">


                                                    <option value="">None</option>

                                                    <option value="Aluminum-no thermal break">Aluminum-no thermal break</option>
                                                    <option value="Aluminum-thermal break">Aluminum-thermal break</option>
                                                    <option value="Aluminum-uncategorized">Aluminum-uncategorized</option>
                                                    <option value="Clad">Clad</option>
                                                    <option value="Composite">Composite</option>
                                                    <option value="Fiberglass">Fiberglass</option>
                                                    <option value="Other">Other</option>
                                                    <option value="Steel">Steel</option>
                                                    <option value="Unknown">Unknown</option>
                                                    <option value="Vinyl">Vinyl</option>
                                                    <option value="Wood">Wood</option>


                                                </select>
                                            </div>



                                        </div>

                                    </div>


                                </div>



                            </div>

                        </div>


                        <div>

                            <div class="alpaca-field alpaca-field-object" data-alpaca-field-id="alpaca5" data-alpaca-field-path="/FenestrationSystem/auc:GlassType" data-alpaca-field-name="FenestrationSystem_auc:GlassType">





                                <div>


                                    <div>

                                        <div class="alpaca-field alpaca-field-select" data-alpaca-field-id="alpaca17" data-alpaca-field-path="/FenestrationSystem/auc:GlassType/$" data-alpaca-field-name="FenestrationSystem_auc:GlassType_$">



                                            <div class="field" name="FenestrationSystem_auc:GlassType_$">
                                                <label> Glass Type</label>
                                                <select id="alpaca17" ng-model="system[&#39;auc:FenestrationSystems&#39;][&#39;auc:FenestrationSystem&#39;][&#39;auc:GlassType&#39;][&#39;$&#39;]" name="FenestrationSystem_auc:GlassType_$">


                                                    <option value="">None</option>

                                                    <option value="Clear uncoated">Clear uncoated</option>
                                                    <option value="High performance tint">High performance tint</option>
                                                    <option value="Low-e">Low-e</option>
                                                    <option value="Other">Other</option>
                                                    <option value="Plastic">Plastic</option>
                                                    <option value="Reflective">Reflective</option>
                                                    <option value="Reflective on tint">Reflective on tint</option>
                                                    <option value="Sunbelt low-E (low SHGC)">Sunbelt low-E (low SHGC)</option>
                                                    <option value="Suspended film">Suspended film</option>
                                                    <option value="Tinted">Tinted</option>
                                                    <option value="Tinted + low-e">Tinted + low-e</option>
                                                    <option value="Unknown">Unknown</option>


                                                </select>
                                            </div>



                                        </div>

                                    </div>


                                </div>



                            </div>

                        </div>


                        <div>

                            <div class="alpaca-field alpaca-field-object" data-alpaca-field-id="alpaca6" data-alpaca-field-path="/FenestrationSystem/auc:FenestrationGlassLayers" data-alpaca-field-name="FenestrationSystem_auc:FenestrationGlassLayers">





                                <div>


                                    <div>

                                        <div class="alpaca-field alpaca-field-select" data-alpaca-field-id="alpaca18" data-alpaca-field-path="/FenestrationSystem/auc:FenestrationGlassLayers/$" data-alpaca-field-name="FenestrationSystem_auc:FenestrationGlassLayers_$">



                                            <div class="field" name="FenestrationSystem_auc:FenestrationGlassLayers_$">
                                                <label> Fenestration Glass Layers</label>
                                                <select id="alpaca18" ng-model="system[&#39;auc:FenestrationSystems&#39;][&#39;auc:FenestrationSystem&#39;][&#39;auc:FenestrationGlassLayers&#39;][&#39;$&#39;]" name="FenestrationSystem_auc:FenestrationGlassLayers_$">


                                                    <option value="">None</option>

                                                    <option value="Double-pane">Double-pane</option>
                                                    <option value="Single-pane">Single-pane</option>
                                                    <option value="Single-paned with storm panel">Single-paned with storm panel</option>
                                                    <option value="Triple-pane">Triple-pane</option>
                                                    <option value="Unknown">Unknown</option>


                                                </select>
                                            </div>



                                        </div>

                                    </div>


                                </div>



                            </div>

                        </div>


                        <div>

                            <div class="alpaca-field alpaca-field-object" data-alpaca-field-id="alpaca7" data-alpaca-field-path="/FenestrationSystem/auc:FenestrationOperation" data-alpaca-field-name="FenestrationSystem_auc:FenestrationOperation">





                                <div>


                                    <div>

                                        <div class="alpaca-field alpaca-field-checkbox" data-alpaca-field-id="alpaca19" data-alpaca-field-path="/FenestrationSystem/auc:FenestrationOperation/$" data-alpaca-field-name="FenestrationSystem_auc:FenestrationOperation_$">



                                            <div class="field" name="FenestrationSystem_auc:FenestrationOperation_$">

                                                <div class="ui checkbox">

                                                    <input type="checkbox" name="FenestrationSystem_auc:FenestrationOperation_$">


                                                    <label> Fenestration Operation</label>

                                                </div>

                                            </div>



                                        </div>

                                    </div>


                                </div>



                            </div>

                        </div>


                        <div>

                            <div class="alpaca-field alpaca-field-object" data-alpaca-field-id="alpaca8" data-alpaca-field-path="/FenestrationSystem/auc:Weatherstripped" data-alpaca-field-name="FenestrationSystem_auc:Weatherstripped">





                                <div>


                                    <div>

                                        <div class="alpaca-field alpaca-field-checkbox" data-alpaca-field-id="alpaca20" data-alpaca-field-path="/FenestrationSystem/auc:Weatherstripped/$" data-alpaca-field-name="FenestrationSystem_auc:Weatherstripped_$">



                                            <div class="field" name="FenestrationSystem_auc:Weatherstripped_$">

                                                <div class="ui checkbox">

                                                    <input type="checkbox" name="FenestrationSystem_auc:Weatherstripped_$">


                                                    <label> Weatherstripped</label>

                                                </div>

                                            </div>



                                        </div>

                                    </div>


                                </div>



                            </div>

                        </div>


                        <div>

                            <div class="alpaca-field alpaca-field-object" data-alpaca-field-id="alpaca9" data-alpaca-field-path="/FenestrationSystem/auc:Manufacturer" data-alpaca-field-name="FenestrationSystem_auc:Manufacturer">





                                <div>


                                    <div>

                                        <div class="alpaca-field alpaca-field-text" data-alpaca-field-id="alpaca21" data-alpaca-field-path="/FenestrationSystem/auc:Manufacturer/$" data-alpaca-field-name="FenestrationSystem_auc:Manufacturer_$">



                                            <div class="field" name="FenestrationSystem_auc:Manufacturer_$">

                                                <label> Manufacturer</label>

                                                <input type="text" id="alpaca21" ng-model="system[&#39;auc:FenestrationSystems&#39;][&#39;auc:FenestrationSystem&#39;][&#39;auc:Manufacturer&#39;][&#39;$&#39;]" name="FenestrationSystem_auc:Manufacturer_$">
                                            </div>



                                        </div>

                                    </div>


                                </div>



                            </div>

                        </div>


                        <div>

                            <div class="alpaca-field alpaca-field-object" data-alpaca-field-id="alpaca10" data-alpaca-field-path="/FenestrationSystem/auc:ModelNumber" data-alpaca-field-name="FenestrationSystem_auc:ModelNumber">





                                <div>


                                    <div>

                                        <div class="alpaca-field alpaca-field-text" data-alpaca-field-id="alpaca22" data-alpaca-field-path="/FenestrationSystem/auc:ModelNumber/$" data-alpaca-field-name="FenestrationSystem_auc:ModelNumber_$">



                                            <div class="field" name="FenestrationSystem_auc:ModelNumber_$">

                                                <label> Model Number</label>

                                                <input type="text" id="alpaca22" ng-model="system[&#39;auc:FenestrationSystems&#39;][&#39;auc:FenestrationSystem&#39;][&#39;auc:ModelNumber&#39;][&#39;$&#39;]" name="FenestrationSystem_auc:ModelNumber_$">
                                            </div>



                                        </div>

                                    </div>


                                </div>



                            </div>

                        </div>


                        <div>

                            <div class="alpaca-field alpaca-field-object" data-alpaca-field-id="alpaca11" data-alpaca-field-path="/FenestrationSystem/auc:Quantity" data-alpaca-field-name="FenestrationSystem_auc:Quantity">





                                <div>


                                    <div>

                                        <div class="alpaca-field alpaca-field-integer" data-alpaca-field-id="alpaca23" data-alpaca-field-path="/FenestrationSystem/auc:Quantity/$" data-alpaca-field-name="FenestrationSystem_auc:Quantity_$">



                                            <div class="field" name="FenestrationSystem_auc:Quantity_$">

                                                <label> Quantity</label>

                                                <input type="text" id="alpaca23" ng-model="system[&#39;auc:FenestrationSystems&#39;][&#39;auc:FenestrationSystem&#39;][&#39;auc:Quantity&#39;][&#39;$&#39;]" name="FenestrationSystem_auc:Quantity_$">
                                            </div>



                                        </div>

                                    </div>


                                    <div>

                                        <div class="alpaca-field alpaca-field-select" data-alpaca-field-id="alpaca24" data-alpaca-field-path="/FenestrationSystem/auc:Quantity/@auc:Source" data-alpaca-field-name="FenestrationSystem_auc:Quantity_@auc:Source">



                                            <div class="field" name="FenestrationSystem_auc:Quantity_@auc:Source">
                                                <label> Source</label>
                                                <select id="alpaca24" ng-model="system[&#39;auc:FenestrationSystems&#39;][&#39;auc:FenestrationSystem&#39;][&#39;auc:Quantity&#39;][&#39;@auc:Source&#39;]" name="FenestrationSystem_auc:Quantity_@auc:Source">


                                                    <option value="">None</option>

                                                    <option value="ASHRAE">ASHRAE</option>
                                                    <option value="Agent">Agent</option>
                                                    <option value="Arch2030">Arch2030</option>
                                                    <option value="Assessor">Assessor</option>
                                                    <option value="Auditor">Auditor</option>
                                                    <option value="Building Component Library">Building Component Library</option>
                                                    <option value="Default">Default</option>
                                                    <option value="Design files">Design files</option>
                                                    <option value="Direct measurement">Direct measurement</option>
                                                    <option value="ENERGY STAR Portfolio Manager">ENERGY STAR Portfolio Manager</option>
                                                    <option value="Energy Management System">Energy Management System</option>
                                                    <option value="Estimate">Estimate</option>
                                                    <option value="Other">Other</option>
                                                    <option value="Product specification">Product specification</option>
                                                    <option value="Simulation">Simulation</option>
                                                    <option value="Target Finder">Target Finder</option>
                                                    <option value="US EIA">US EIA</option>
                                                    <option value="US EPA">US EPA</option>
                                                    <option value="Utility transfer">Utility transfer</option>


                                                </select>
                                            </div>



                                        </div>

                                    </div>


                                </div>



                            </div>

                        </div>


                        <div>

                            <div class="alpaca-field alpaca-field-object" data-alpaca-field-id="alpaca12" data-alpaca-field-path="/FenestrationSystem/auc:YearInstalled" data-alpaca-field-name="FenestrationSystem_auc:YearInstalled">





                                <div>


                                    <div>

                                        <div class="alpaca-field alpaca-field-text" data-alpaca-field-id="alpaca25" data-alpaca-field-path="/FenestrationSystem/auc:YearInstalled/$" data-alpaca-field-name="FenestrationSystem_auc:YearInstalled_$">



                                            <div class="field" name="FenestrationSystem_auc:YearInstalled_$">

                                                <label> Year Installed</label>

                                                <input type="text" id="alpaca25" ng-model="system[&#39;auc:FenestrationSystems&#39;][&#39;auc:FenestrationSystem&#39;][&#39;auc:YearInstalled&#39;][&#39;$&#39;]" name="FenestrationSystem_auc:YearInstalled_$">
                                            </div>



                                        </div>

                                    </div>


                                </div>



                            </div>

                        </div>


                    </div>



                </div>

            </div>


        </div>



    </div>

    <div class="alpaca-form-buttons-container">
    </div>

</form></div>
