
<div id="form" class=""><form role="form" class="ui form alpaca-form" id="alpaca2" data-alpaca-form-id="alpaca2" action="http://www.alpacajs.org/endpoints/echo.php" method="post">

        <div class="alpaca-field alpaca-field-object alpaca-optional alpaca-edit alpaca-top alpaca-invalid" data-alpaca-field-id="alpaca1" data-alpaca-field-path="/" data-alpaca-field-name="">

        <legend class=" alpaca-container-label"> </legend>




            <div class="alpaca-container alpaca-vertical alpaca-container-has-items" data-alpaca-container-item-count="1">


            <div class="alpaca-container-item alpaca-container-item-first alpaca-container-item-last" data-alpaca-container-item-index="0" data-alpaca-container-item-name="HeatRecoverySystem" data-alpaca-container-item-parent-field-id="alpaca1">

        <div class="alpaca-field alpaca-field-object alpaca-optional alpaca-invalid" data-alpaca-field-id="alpaca3" data-alpaca-field-path="/HeatRecoverySystem" data-alpaca-field-name="HeatRecoverySystem">





            <div class="alpaca-container alpaca-vertical alpaca-container-has-items" data-alpaca-container-item-count="16">


            <div class="alpaca-container-item alpaca-container-item-first" data-alpaca-container-item-index="0" data-alpaca-container-item-name="HeatRecoverySystem_@ID" data-alpaca-container-item-parent-field-id="alpaca3">

        <div class="alpaca-field alpaca-field-text alpaca-optional alpaca-autocomplete alpaca-field-valid" data-alpaca-field-id="alpaca4" data-alpaca-field-path="/HeatRecoverySystem/@ID" data-alpaca-field-name="HeatRecoverySystem_@ID">



        <div class="field alpaca-control" name="HeatRecoverySystem_@ID" autocomplete="off">
	<label>HeatRecoverySystem_@ID</label>
    <input type="text" id="alpaca4" ng-model="system.HeatRecoverySystem_ID" name="HeatRecoverySystem_@ID">
</div>



    </div>

    </div>


            <div class="alpaca-container-item" data-alpaca-container-item-index="1" data-alpaca-container-item-name="HeatRecoverySystem_@auc:Status" data-alpaca-container-item-parent-field-id="alpaca3">

        <div class="alpaca-field alpaca-field-select alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca5" data-alpaca-field-path="/HeatRecoverySystem/@auc:Status" data-alpaca-field-name="HeatRecoverySystem_@auc:Status">



        <div class="field alpaca-control" name="HeatRecoverySystem_@auc:Status">
    <label>Status</label>
    <select id="alpaca5" name="HeatRecoverySystem_@auc:Status">


        <option value="">None</option>

        <option value="Existing">Existing</option>
        <option value="Other">Other</option>
        <option value="Past">Past</option>
        <option value="Proposed">Proposed</option>
        <option value="Reference">Reference</option>


    </select>
</div>



    </div>

    </div>


            <div class="alpaca-container-item" data-alpaca-container-item-index="2" data-alpaca-container-item-name="HeatRecoverySystem_auc:ControlTechnology" data-alpaca-container-item-parent-field-id="alpaca3">

        <div class="alpaca-field alpaca-field-object alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca6" data-alpaca-field-path="/HeatRecoverySystem/auc:ControlTechnology" data-alpaca-field-name="HeatRecoverySystem_auc:ControlTechnology">





            <div class="alpaca-container alpaca-vertical alpaca-container-has-items" data-alpaca-container-item-count="1">


            <div class="alpaca-container-item alpaca-container-item-first alpaca-container-item-last" data-alpaca-container-item-index="0" data-alpaca-container-item-name="HeatRecoverySystem_auc:ControlTechnology_$" data-alpaca-container-item-parent-field-id="alpaca6">

        <div class="alpaca-field alpaca-field-select alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca20" data-alpaca-field-path="/HeatRecoverySystem/auc:ControlTechnology/$" data-alpaca-field-name="HeatRecoverySystem_auc:ControlTechnology_$">



        <div class="field alpaca-control" name="HeatRecoverySystem_auc:ControlTechnology_$">
    <label>ControlTechnology_$</label>
    <select id="alpaca20" name="HeatRecoverySystem_auc:ControlTechnology_$">


        <option value="">None</option>

        <option value="Always On">Always On</option>
        <option value="EMCS">EMCS</option>
        <option value="Manual Analog Thermostat">Manual Analog Thermostat</option>
        <option value="Manual Digital Thermostat">Manual Digital Thermostat</option>
        <option value="Manual On/Off">Manual On/Off</option>
        <option value="Other">Other</option>
        <option value="Programmable Thermostat">Programmable Thermostat</option>
        <option value="Timer">Timer</option>
        <option value="Unknown">Unknown</option>


    </select>
</div>



    </div>

    </div>


    </div>



    </div>

    </div>


            <div class="alpaca-container-item" data-alpaca-container-item-index="3" data-alpaca-container-item-name="HeatRecoverySystem_auc:EnergyRecoveryEfficiency" data-alpaca-container-item-parent-field-id="alpaca3">

        <div class="alpaca-field alpaca-field-object alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca7" data-alpaca-field-path="/HeatRecoverySystem/auc:EnergyRecoveryEfficiency" data-alpaca-field-name="HeatRecoverySystem_auc:EnergyRecoveryEfficiency">





            <div class="alpaca-container alpaca-vertical alpaca-container-has-items" data-alpaca-container-item-count="2">


            <div class="alpaca-container-item alpaca-container-item-first" data-alpaca-container-item-index="0" data-alpaca-container-item-name="HeatRecoverySystem_auc:EnergyRecoveryEfficiency_$" data-alpaca-container-item-parent-field-id="alpaca7">

        <div class="alpaca-field alpaca-field-number alpaca-optional alpaca-autocomplete alpaca-field-valid" data-alpaca-field-id="alpaca21" data-alpaca-field-path="/HeatRecoverySystem/auc:EnergyRecoveryEfficiency/$" data-alpaca-field-name="HeatRecoverySystem_auc:EnergyRecoveryEfficiency_$">



        <div class="field alpaca-control" name="HeatRecoverySystem_auc:EnergyRecoveryEfficiency_$" autocomplete="off">
	<label>EnergyRecoveryEfficiency_$</label>
    <input type="text" id="alpaca21" ng-model="system.HeatRecoverySystem.EnergyRecoveryEfficiency_$" name="HeatRecoverySystem_auc:EnergyRecoveryEfficiency_$">
</div>



    </div>

    </div>


            <div class="alpaca-container-item alpaca-container-item-last" data-alpaca-container-item-index="1" data-alpaca-container-item-name="HeatRecoverySystem_auc:EnergyRecoveryEfficiency_@auc:Source" data-alpaca-container-item-parent-field-id="alpaca7">

        <div class="alpaca-field alpaca-field-select alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca22" data-alpaca-field-path="/HeatRecoverySystem/auc:EnergyRecoveryEfficiency/@auc:Source" data-alpaca-field-name="HeatRecoverySystem_auc:EnergyRecoveryEfficiency_@auc:Source">



        <div class="field alpaca-control" name="HeatRecoverySystem_auc:EnergyRecoveryEfficiency_@auc:Source">
    <label>Source</label>
    <select id="alpaca22" name="HeatRecoverySystem_auc:EnergyRecoveryEfficiency_@auc:Source">


        <option value="">None</option>

        <option value="ASHRAE">ASHRAE</option>
        <option value="Agent">Agent</option>
        <option value="Arch2030">Arch2030</option>
        <option value="Assessor">Assessor</option>
        <option value="Auditor">Auditor</option>
        <option value="Building Component Library">Building Component Library</option>
        <option value="Default">Default</option>
        <option value="Design files">Design files</option>
        <option value="Direct measurement">Direct measurement</option>
        <option value="ENERGY STAR Portfolio Manager">ENERGY STAR Portfolio Manager</option>
        <option value="Energy Management System">Energy Management System</option>
        <option value="Estimate">Estimate</option>
        <option value="Other">Other</option>
        <option value="Product specification">Product specification</option>
        <option value="Simulation">Simulation</option>
        <option value="Target Finder">Target Finder</option>
        <option value="US EIA">US EIA</option>
        <option value="US EPA">US EPA</option>
        <option value="Utility transfer">Utility transfer</option>


    </select>
</div>



    </div>

    </div>


    </div>



    </div>

    </div>


            <div class="alpaca-container-item" data-alpaca-container-item-index="4" data-alpaca-container-item-name="HeatRecoverySystem_auc:HeatRecoveryEfficiency" data-alpaca-container-item-parent-field-id="alpaca3">

        <div class="alpaca-field alpaca-field-object alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca8" data-alpaca-field-path="/HeatRecoverySystem/auc:HeatRecoveryEfficiency" data-alpaca-field-name="HeatRecoverySystem_auc:HeatRecoveryEfficiency">





            <div class="alpaca-container alpaca-vertical alpaca-container-has-items" data-alpaca-container-item-count="2">


            <div class="alpaca-container-item alpaca-container-item-first" data-alpaca-container-item-index="0" data-alpaca-container-item-name="HeatRecoverySystem_auc:HeatRecoveryEfficiency_$" data-alpaca-container-item-parent-field-id="alpaca8">

        <div class="alpaca-field alpaca-field-number alpaca-optional alpaca-autocomplete alpaca-field-valid" data-alpaca-field-id="alpaca23" data-alpaca-field-path="/HeatRecoverySystem/auc:HeatRecoveryEfficiency/$" data-alpaca-field-name="HeatRecoverySystem_auc:HeatRecoveryEfficiency_$">



        <div class="field alpaca-control" name="HeatRecoverySystem_auc:HeatRecoveryEfficiency_$" autocomplete="off">
	<label>HeatRecoveryEfficiency_$</label>
    <input type="text" id="alpaca23" ng-model="system.HeatRecoverySystem.HeatRecoveryEfficiency_$" name="HeatRecoverySystem_auc:HeatRecoveryEfficiency_$">
</div>



    </div>

    </div>


            <div class="alpaca-container-item alpaca-container-item-last" data-alpaca-container-item-index="1" data-alpaca-container-item-name="HeatRecoverySystem_auc:HeatRecoveryEfficiency_@auc:Source" data-alpaca-container-item-parent-field-id="alpaca8">

        <div class="alpaca-field alpaca-field-select alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca24" data-alpaca-field-path="/HeatRecoverySystem/auc:HeatRecoveryEfficiency/@auc:Source" data-alpaca-field-name="HeatRecoverySystem_auc:HeatRecoveryEfficiency_@auc:Source">



        <div class="field alpaca-control" name="HeatRecoverySystem_auc:HeatRecoveryEfficiency_@auc:Source">
    <label>Source</label>
    <select id="alpaca24" name="HeatRecoverySystem_auc:HeatRecoveryEfficiency_@auc:Source">


        <option value="">None</option>

        <option value="ASHRAE">ASHRAE</option>
        <option value="Agent">Agent</option>
        <option value="Arch2030">Arch2030</option>
        <option value="Assessor">Assessor</option>
        <option value="Auditor">Auditor</option>
        <option value="Building Component Library">Building Component Library</option>
        <option value="Default">Default</option>
        <option value="Design files">Design files</option>
        <option value="Direct measurement">Direct measurement</option>
        <option value="ENERGY STAR Portfolio Manager">ENERGY STAR Portfolio Manager</option>
        <option value="Energy Management System">Energy Management System</option>
        <option value="Estimate">Estimate</option>
        <option value="Other">Other</option>
        <option value="Product specification">Product specification</option>
        <option value="Simulation">Simulation</option>
        <option value="Target Finder">Target Finder</option>
        <option value="US EIA">US EIA</option>
        <option value="US EPA">US EPA</option>
        <option value="Utility transfer">Utility transfer</option>


    </select>
</div>



    </div>

    </div>


    </div>



    </div>

    </div>


            <div class="alpaca-container-item" data-alpaca-container-item-index="5" data-alpaca-container-item-name="HeatRecoverySystem_auc:HeatRecoveryType" data-alpaca-container-item-parent-field-id="alpaca3">

        <div class="alpaca-field alpaca-field-object alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca9" data-alpaca-field-path="/HeatRecoverySystem/auc:HeatRecoveryType" data-alpaca-field-name="HeatRecoverySystem_auc:HeatRecoveryType">





            <div class="alpaca-container alpaca-vertical alpaca-container-has-items" data-alpaca-container-item-count="1">


            <div class="alpaca-container-item alpaca-container-item-first alpaca-container-item-last" data-alpaca-container-item-index="0" data-alpaca-container-item-name="HeatRecoverySystem_auc:HeatRecoveryType_$" data-alpaca-container-item-parent-field-id="alpaca9">

        <div class="alpaca-field alpaca-field-select alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca25" data-alpaca-field-path="/HeatRecoverySystem/auc:HeatRecoveryType/$" data-alpaca-field-name="HeatRecoverySystem_auc:HeatRecoveryType_$">



        <div class="field alpaca-control" name="HeatRecoverySystem_auc:HeatRecoveryType_$">
    <label>HeatRecoveryType_$</label>
    <select id="alpaca25" name="HeatRecoverySystem_auc:HeatRecoveryType_$">


        <option value="">None</option>

        <option value="Air to air heat exchanger">Air to air heat exchanger</option>
        <option value="Earth to air heat exchanger">Earth to air heat exchanger</option>
        <option value="Earth to water heat exchanger">Earth to water heat exchanger</option>
        <option value="Heat pipe">Heat pipe</option>
        <option value="Other">Other</option>
        <option value="Run-around coil">Run-around coil</option>
        <option value="Thermal wheel">Thermal wheel</option>
        <option value="Unknown">Unknown</option>


    </select>
</div>



    </div>

    </div>


    </div>



    </div>

    </div>


            <div class="alpaca-container-item" data-alpaca-container-item-index="6" data-alpaca-container-item-name="HeatRecoverySystem_auc:Location" data-alpaca-container-item-parent-field-id="alpaca3">

        <div class="alpaca-field alpaca-field-object alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca10" data-alpaca-field-path="/HeatRecoverySystem/auc:Location" data-alpaca-field-name="HeatRecoverySystem_auc:Location">





            <div class="alpaca-container alpaca-vertical alpaca-container-has-items" data-alpaca-container-item-count="1">


            <div class="alpaca-container-item alpaca-container-item-first alpaca-container-item-last" data-alpaca-container-item-index="0" data-alpaca-container-item-name="HeatRecoverySystem_auc:Location_$" data-alpaca-container-item-parent-field-id="alpaca10">

        <div class="alpaca-field alpaca-field-select alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca26" data-alpaca-field-path="/HeatRecoverySystem/auc:Location/$" data-alpaca-field-name="HeatRecoverySystem_auc:Location_$">



        <div class="field alpaca-control" name="HeatRecoverySystem_auc:Location_$">
    <label>Location_$</label>
    <select id="alpaca26" name="HeatRecoverySystem_auc:Location_$">


        <option value="">None</option>

        <option value="Attic">Attic</option>
        <option value="Closet">Closet</option>
        <option value="Garage">Garage</option>
        <option value="Indoors">Indoors</option>
        <option value="Other">Other</option>
        <option value="Outdoors">Outdoors</option>
        <option value="Unknown">Unknown</option>


    </select>
</div>



    </div>

    </div>


    </div>



    </div>

    </div>


            <div class="alpaca-container-item" data-alpaca-container-item-index="7" data-alpaca-container-item-name="HeatRecoverySystem_auc:Manufacturer" data-alpaca-container-item-parent-field-id="alpaca3">

        <div class="alpaca-field alpaca-field-object alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca11" data-alpaca-field-path="/HeatRecoverySystem/auc:Manufacturer" data-alpaca-field-name="HeatRecoverySystem_auc:Manufacturer">





            <div class="alpaca-container alpaca-vertical alpaca-container-has-items" data-alpaca-container-item-count="1">


            <div class="alpaca-container-item alpaca-container-item-first alpaca-container-item-last" data-alpaca-container-item-index="0" data-alpaca-container-item-name="HeatRecoverySystem_auc:Manufacturer_$" data-alpaca-container-item-parent-field-id="alpaca11">

        <div class="alpaca-field alpaca-field-text alpaca-optional alpaca-autocomplete alpaca-field-valid" data-alpaca-field-id="alpaca27" data-alpaca-field-path="/HeatRecoverySystem/auc:Manufacturer/$" data-alpaca-field-name="HeatRecoverySystem_auc:Manufacturer_$">



        <div class="field alpaca-control" name="HeatRecoverySystem_auc:Manufacturer_$" autocomplete="off">
	<label>Manufacturer_$</label>
    <input type="text" id="alpaca27" ng-model="system.HeatRecoverySystem.Manufacturer_$" name="HeatRecoverySystem_auc:Manufacturer_$">
</div>



    </div>

    </div>


    </div>



    </div>

    </div>


            <div class="alpaca-container-item" data-alpaca-container-item-index="8" data-alpaca-container-item-name="HeatRecoverySystem_auc:ModelNumber" data-alpaca-container-item-parent-field-id="alpaca3">

        <div class="alpaca-field alpaca-field-object alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca12" data-alpaca-field-path="/HeatRecoverySystem/auc:ModelNumber" data-alpaca-field-name="HeatRecoverySystem_auc:ModelNumber">





            <div class="alpaca-container alpaca-vertical alpaca-container-has-items" data-alpaca-container-item-count="1">


            <div class="alpaca-container-item alpaca-container-item-first alpaca-container-item-last" data-alpaca-container-item-index="0" data-alpaca-container-item-name="HeatRecoverySystem_auc:ModelNumber_$" data-alpaca-container-item-parent-field-id="alpaca12">

        <div class="alpaca-field alpaca-field-text alpaca-optional alpaca-autocomplete alpaca-field-valid" data-alpaca-field-id="alpaca28" data-alpaca-field-path="/HeatRecoverySystem/auc:ModelNumber/$" data-alpaca-field-name="HeatRecoverySystem_auc:ModelNumber_$">



        <div class="field alpaca-control" name="HeatRecoverySystem_auc:ModelNumber_$" autocomplete="off">
	<label>ModelNumber_$</label>
    <input type="text" id="alpaca28" ng-model="system.HeatRecoverySystem.ModelNumber_$" name="HeatRecoverySystem_auc:ModelNumber_$">
</div>



    </div>

    </div>


    </div>



    </div>

    </div>


            <div class="alpaca-container-item" data-alpaca-container-item-index="9" data-alpaca-container-item-name="HeatRecoverySystem_auc:Quantity" data-alpaca-container-item-parent-field-id="alpaca3">

        <div class="alpaca-field alpaca-field-object alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca13" data-alpaca-field-path="/HeatRecoverySystem/auc:Quantity" data-alpaca-field-name="HeatRecoverySystem_auc:Quantity">





            <div class="alpaca-container alpaca-vertical alpaca-container-has-items" data-alpaca-container-item-count="2">


            <div class="alpaca-container-item alpaca-container-item-first" data-alpaca-container-item-index="0" data-alpaca-container-item-name="HeatRecoverySystem_auc:Quantity_$" data-alpaca-container-item-parent-field-id="alpaca13">

        <div class="alpaca-field alpaca-field-integer alpaca-optional alpaca-autocomplete alpaca-field-valid" data-alpaca-field-id="alpaca29" data-alpaca-field-path="/HeatRecoverySystem/auc:Quantity/$" data-alpaca-field-name="HeatRecoverySystem_auc:Quantity_$">



        <div class="field alpaca-control" name="HeatRecoverySystem_auc:Quantity_$" autocomplete="off">
	<label>Quantity_$</label>
    <input type="text" id="alpaca29" ng-model="system.HeatRecoverySystem.Quantity_$" name="HeatRecoverySystem_auc:Quantity_$">
</div>



    </div>

    </div>


            <div class="alpaca-container-item alpaca-container-item-last" data-alpaca-container-item-index="1" data-alpaca-container-item-name="HeatRecoverySystem_auc:Quantity_@auc:Source" data-alpaca-container-item-parent-field-id="alpaca13">

        <div class="alpaca-field alpaca-field-select alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca30" data-alpaca-field-path="/HeatRecoverySystem/auc:Quantity/@auc:Source" data-alpaca-field-name="HeatRecoverySystem_auc:Quantity_@auc:Source">



        <div class="field alpaca-control" name="HeatRecoverySystem_auc:Quantity_@auc:Source">
    <label>Source</label>
    <select id="alpaca30" name="HeatRecoverySystem_auc:Quantity_@auc:Source">


        <option value="">None</option>

        <option value="ASHRAE">ASHRAE</option>
        <option value="Agent">Agent</option>
        <option value="Arch2030">Arch2030</option>
        <option value="Assessor">Assessor</option>
        <option value="Auditor">Auditor</option>
        <option value="Building Component Library">Building Component Library</option>
        <option value="Default">Default</option>
        <option value="Design files">Design files</option>
        <option value="Direct measurement">Direct measurement</option>
        <option value="ENERGY STAR Portfolio Manager">ENERGY STAR Portfolio Manager</option>
        <option value="Energy Management System">Energy Management System</option>
        <option value="Estimate">Estimate</option>
        <option value="Other">Other</option>
        <option value="Product specification">Product specification</option>
        <option value="Simulation">Simulation</option>
        <option value="Target Finder">Target Finder</option>
        <option value="US EIA">US EIA</option>
        <option value="US EPA">US EPA</option>
        <option value="Utility transfer">Utility transfer</option>


    </select>
</div>



    </div>

    </div>


    </div>



    </div>

    </div>


            <div class="alpaca-container-item" data-alpaca-container-item-index="10" data-alpaca-container-item-name="HeatRecoverySystem_auc:SystemIDProvidingHeat" data-alpaca-container-item-parent-field-id="alpaca3">

        <div class="alpaca-field alpaca-field-object alpaca-optional alpaca-invalid" data-alpaca-field-id="alpaca14" data-alpaca-field-path="/HeatRecoverySystem/auc:SystemIDProvidingHeat" data-alpaca-field-name="HeatRecoverySystem_auc:SystemIDProvidingHeat">





            <div class="alpaca-container alpaca-vertical alpaca-container-has-items" data-alpaca-container-item-count="1">


            <div class="alpaca-container-item alpaca-container-item-first alpaca-container-item-last" data-alpaca-container-item-index="0" data-alpaca-container-item-name="HeatRecoverySystem_auc:SystemIDProvidingHeat_@IDref" data-alpaca-container-item-parent-field-id="alpaca14">

        <div class="alpaca-field alpaca-field-text alpaca-required alpaca-autocomplete alpaca-invalid" data-alpaca-field-id="alpaca31" data-alpaca-field-path="/HeatRecoverySystem/auc:SystemIDProvidingHeat/@IDref" data-alpaca-field-name="HeatRecoverySystem_auc:SystemIDProvidingHeat_@IDref">



        <div class="field alpaca-control" name="HeatRecoverySystem_auc:SystemIDProvidingHeat_@IDref" autocomplete="off">
	<label>SystemIDProvidingHeat_@IDref</label>
    <input type="text" id="alpaca31" ng-model="system.HeatRecoverySystem.SystemIDProvidingHeat_IDref" name="HeatRecoverySystem_auc:SystemIDProvidingHeat_@IDref">
</div>



    <div class="alpaca-message alpaca-message-notOptional">
        This field is not optional.
    </div></div>

    </div>


    </div>



    </div>

    </div>


            <div class="alpaca-container-item" data-alpaca-container-item-index="11" data-alpaca-container-item-name="HeatRecoverySystem_auc:SystemIDReceivingHeat" data-alpaca-container-item-parent-field-id="alpaca3">

        <div class="alpaca-field alpaca-field-object alpaca-optional alpaca-invalid" data-alpaca-field-id="alpaca15" data-alpaca-field-path="/HeatRecoverySystem/auc:SystemIDReceivingHeat" data-alpaca-field-name="HeatRecoverySystem_auc:SystemIDReceivingHeat">





            <div class="alpaca-container alpaca-vertical alpaca-container-has-items" data-alpaca-container-item-count="1">


            <div class="alpaca-container-item alpaca-container-item-first alpaca-container-item-last" data-alpaca-container-item-index="0" data-alpaca-container-item-name="HeatRecoverySystem_auc:SystemIDReceivingHeat_@IDref" data-alpaca-container-item-parent-field-id="alpaca15">

        <div class="alpaca-field alpaca-field-text alpaca-required alpaca-autocomplete alpaca-invalid" data-alpaca-field-id="alpaca32" data-alpaca-field-path="/HeatRecoverySystem/auc:SystemIDReceivingHeat/@IDref" data-alpaca-field-name="HeatRecoverySystem_auc:SystemIDReceivingHeat_@IDref">



        <div class="field alpaca-control" name="HeatRecoverySystem_auc:SystemIDReceivingHeat_@IDref" autocomplete="off">
	<label>SystemIDReceivingHeat_@IDref</label>
    <input type="text" id="alpaca32" ng-model="system.HeatRecoverySystem.SystemIDReceivingHeat_IDref" name="HeatRecoverySystem_auc:SystemIDReceivingHeat_@IDref">
</div>



    <div class="alpaca-message alpaca-message-notOptional">
        This field is not optional.
    </div></div>

    </div>


    </div>



    </div>

    </div>


            <div class="alpaca-container-item" data-alpaca-container-item-index="12" data-alpaca-container-item-name="HeatRecoverySystem_auc:ThirdPartyCertification" data-alpaca-container-item-parent-field-id="alpaca3">

        <div class="alpaca-field alpaca-field-object alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca16" data-alpaca-field-path="/HeatRecoverySystem/auc:ThirdPartyCertification" data-alpaca-field-name="HeatRecoverySystem_auc:ThirdPartyCertification">





            <div class="alpaca-container alpaca-vertical alpaca-container-has-items" data-alpaca-container-item-count="1">


            <div class="alpaca-container-item alpaca-container-item-first alpaca-container-item-last" data-alpaca-container-item-index="0" data-alpaca-container-item-name="HeatRecoverySystem_auc:ThirdPartyCertification_$" data-alpaca-container-item-parent-field-id="alpaca16">

        <div class="alpaca-field alpaca-field-select alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca33" data-alpaca-field-path="/HeatRecoverySystem/auc:ThirdPartyCertification/$" data-alpaca-field-name="HeatRecoverySystem_auc:ThirdPartyCertification_$">



        <div class="field alpaca-control" name="HeatRecoverySystem_auc:ThirdPartyCertification_$">
    <label>ThirdPartyCertification_$</label>
    <select id="alpaca33" name="HeatRecoverySystem_auc:ThirdPartyCertification_$">


        <option value="">None</option>

        <option value="CEE Tier 1">CEE Tier 1</option>
        <option value="CEE Tier 2">CEE Tier 2</option>
        <option value="CEE Tier 3">CEE Tier 3</option>
        <option value="ENERGY STAR">ENERGY STAR</option>
        <option value="ENERGY STAR Most Efficient">ENERGY STAR Most Efficient</option>
        <option value="FEMP Designated">FEMP Designated</option>
        <option value="None">None</option>
        <option value="Other">Other</option>
        <option value="Unknown">Unknown</option>


    </select>
</div>



    </div>

    </div>


    </div>



    </div>

    </div>


            <div class="alpaca-container-item" data-alpaca-container-item-index="13" data-alpaca-container-item-name="HeatRecoverySystem_auc:UserDefinedFields" data-alpaca-container-item-parent-field-id="alpaca3">

        <div class="alpaca-field alpaca-field-object alpaca-optional alpaca-invalid" data-alpaca-field-id="alpaca17" data-alpaca-field-path="/HeatRecoverySystem/auc:UserDefinedFields" data-alpaca-field-name="HeatRecoverySystem_auc:UserDefinedFields">





            <div class="alpaca-container alpaca-vertical alpaca-container-has-items" data-alpaca-container-item-count="1">


            <div class="alpaca-container-item alpaca-container-item-first alpaca-container-item-last" data-alpaca-container-item-index="0" data-alpaca-container-item-name="HeatRecoverySystem_auc:UserDefinedFields_auc:UserDefinedField" data-alpaca-container-item-parent-field-id="alpaca17">

        <div class="alpaca-field alpaca-field-text alpaca-required alpaca-autocomplete alpaca-invalid" data-alpaca-field-id="alpaca34" data-alpaca-field-path="/HeatRecoverySystem/auc:UserDefinedFields/auc:UserDefinedField" data-alpaca-field-name="HeatRecoverySystem_auc:UserDefinedFields_auc:UserDefinedField">



        <div class="field alpaca-control" name="HeatRecoverySystem_auc:UserDefinedFields_auc:UserDefinedField" autocomplete="off">
	<label>UserDefinedField</label>
    <input type="text" id="alpaca34" ng-model="system.HeatRecoverySystem.UserDefinedFields.UserDefinedField" name="HeatRecoverySystem_auc:UserDefinedFields_auc:UserDefinedField">
</div>



    <div class="alpaca-message alpaca-message-notOptional">
        This field is not optional.
    </div></div>

    </div>


    </div>



    </div>

    </div>


            <div class="alpaca-container-item" data-alpaca-container-item-index="14" data-alpaca-container-item-name="HeatRecoverySystem_auc:YearInstalled" data-alpaca-container-item-parent-field-id="alpaca3">

        <div class="alpaca-field alpaca-field-object alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca18" data-alpaca-field-path="/HeatRecoverySystem/auc:YearInstalled" data-alpaca-field-name="HeatRecoverySystem_auc:YearInstalled">





            <div class="alpaca-container alpaca-vertical alpaca-container-has-items" data-alpaca-container-item-count="1">


            <div class="alpaca-container-item alpaca-container-item-first alpaca-container-item-last" data-alpaca-container-item-index="0" data-alpaca-container-item-name="HeatRecoverySystem_auc:YearInstalled_$" data-alpaca-container-item-parent-field-id="alpaca18">

        <div class="alpaca-field alpaca-field-text alpaca-optional alpaca-autocomplete alpaca-field-valid" data-alpaca-field-id="alpaca35" data-alpaca-field-path="/HeatRecoverySystem/auc:YearInstalled/$" data-alpaca-field-name="HeatRecoverySystem_auc:YearInstalled_$">



        <div class="field alpaca-control" name="HeatRecoverySystem_auc:YearInstalled_$" autocomplete="off">
	<label>YearInstalled_$</label>
    <input type="text" id="alpaca35" ng-model="system.HeatRecoverySystem.YearInstalled_$" name="HeatRecoverySystem_auc:YearInstalled_$">
</div>



    </div>

    </div>


    </div>



    </div>

    </div>


            <div class="alpaca-container-item alpaca-container-item-last" data-alpaca-container-item-index="15" data-alpaca-container-item-name="HeatRecoverySystem_auc:YearofManufacture" data-alpaca-container-item-parent-field-id="alpaca3">

        <div class="alpaca-field alpaca-field-object alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca19" data-alpaca-field-path="/HeatRecoverySystem/auc:YearofManufacture" data-alpaca-field-name="HeatRecoverySystem_auc:YearofManufacture">





            <div class="alpaca-container alpaca-vertical alpaca-container-has-items" data-alpaca-container-item-count="1">


            <div class="alpaca-container-item alpaca-container-item-first alpaca-container-item-last" data-alpaca-container-item-index="0" data-alpaca-container-item-name="HeatRecoverySystem_auc:YearofManufacture_$" data-alpaca-container-item-parent-field-id="alpaca19">

        <div class="alpaca-field alpaca-field-text alpaca-optional alpaca-autocomplete alpaca-field-valid" data-alpaca-field-id="alpaca36" data-alpaca-field-path="/HeatRecoverySystem/auc:YearofManufacture/$" data-alpaca-field-name="HeatRecoverySystem_auc:YearofManufacture_$">



        <div class="field alpaca-control" name="HeatRecoverySystem_auc:YearofManufacture_$" autocomplete="off">
	<label>YearofManufacture_$</label>
    <input type="text" id="alpaca36" ng-model="system.HeatRecoverySystem.YearofManufacture_$" name="HeatRecoverySystem_auc:YearofManufacture_$">
</div>



    </div>

    </div>


    </div>



    </div>

    </div>


    </div>



    </div>

    </div>


    </div>



    </div>

        <div class="alpaca-form-buttons-container">
                    <button data-key="submit" type="submit" class="alpaca-form-button alpaca-form-button-submit " disabled="">Submit</button>
        </div>

    </form></div>

