<div id="form" class=""><form role="form" class="ui form alpaca-form" id="alpaca2" data-alpaca-form-id="alpaca2">

    <div class="alpaca-field alpaca-field-object alpaca-optional alpaca-edit alpaca-top alpaca-field-valid" data-alpaca-field-id="alpaca1" data-alpaca-field-path="/" data-alpaca-field-name="">

        <legend class=" alpaca-container-label"> </legend>




        <div class="alpaca-container alpaca-vertical alpaca-container-has-items" data-alpaca-container-item-count="1">


            <div class="alpaca-container-item alpaca-container-item-first alpaca-container-item-last" data-alpaca-container-item-index="0" data-alpaca-container-item-name="FenestrationSystem" data-alpaca-container-item-parent-field-id="alpaca1">

                <div class="alpaca-field alpaca-field-object alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca3" data-alpaca-field-path="/FenestrationSystem" data-alpaca-field-name="FenestrationSystem">





                    <div class="alpaca-container alpaca-vertical alpaca-container-has-items" data-alpaca-container-item-count="10">


                        <div class="alpaca-container-item alpaca-container-item-first" data-alpaca-container-item-index="0" data-alpaca-container-item-name="FenestrationSystem_auc:FenestrationType" data-alpaca-container-item-parent-field-id="alpaca3">

                            <div class="alpaca-field alpaca-field-object alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca4" data-alpaca-field-path="/FenestrationSystem/auc:FenestrationType" data-alpaca-field-name="FenestrationSystem_auc:FenestrationType">





                                <div class="alpaca-container alpaca-vertical alpaca-container-has-items" data-alpaca-container-item-count="3">


                                    <div class="alpaca-container-item alpaca-container-item-first" data-alpaca-container-item-index="0" data-alpaca-container-item-name="FenestrationSystem_auc:FenestrationType_$" data-alpaca-container-item-parent-field-id="alpaca4">

                                        <div class="alpaca-field alpaca-field-radio alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca14" data-alpaca-field-path="/FenestrationSystem/auc:FenestrationType/$" data-alpaca-field-name="FenestrationSystem_auc:FenestrationType_$">



                                            <div class="grouped fields alpaca-control" name="FenestrationSystem_auc:FenestrationType_$" style="display: block;">
                                                <label for="FenestrationSystem_auc:FenestrationType_$">Fenestration Type</label>

                                                <div class="field">
                                                    <div class="ui radio checkbox">
                                                        <input type="radio" name="FenestrationSystem_auc:FenestrationType_$" value="" checked="checked">None
                                                        <label></label>
                                                    </div>

                                                    <div class="ui radio checkbox">
                                                        <input type="radio" name="FenestrationSystem_auc:FenestrationType_$" value="Other">Other
                                                        <label></label>
                                                    </div>
                                                    <div class="ui radio checkbox">
                                                        <input type="radio" name="FenestrationSystem_auc:FenestrationType_$" value="Window">Window
                                                        <label></label>
                                                    </div>
                                                </div>
                                            </div>



                                        </div>

                                    </div>


                                    <div class="alpaca-container-item" data-alpaca-container-item-index="1" data-alpaca-container-item-name="FenestrationSystem_auc:FenestrationType_auc:Window" data-alpaca-container-item-parent-field-id="alpaca4">

                                        <div class="alpaca-field alpaca-field-object alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca15" data-alpaca-field-path="/FenestrationSystem/auc:FenestrationType/auc:Window" data-alpaca-field-name="FenestrationSystem_auc:FenestrationType_auc:Window">





                                            <div class="alpaca-container alpaca-vertical alpaca-container-has-items" data-alpaca-container-item-count="4">


                                                <div class="alpaca-container-item alpaca-container-item-first" data-alpaca-container-item-index="0" data-alpaca-container-item-name="FenestrationSystem_auc:FenestrationType_auc:Window_auc:WindowHeight" data-alpaca-container-item-parent-field-id="alpaca15">

                                                    <div class="alpaca-field alpaca-field-object alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca27" data-alpaca-field-path="/FenestrationSystem/auc:FenestrationType/auc:Window/auc:WindowHeight" data-alpaca-field-name="FenestrationSystem_auc:FenestrationType_auc:Window_auc:WindowHeight">





                                                        <div class="alpaca-container alpaca-vertical alpaca-container-has-items" data-alpaca-container-item-count="1">


                                                            <div class="alpaca-container-item alpaca-container-item-first alpaca-container-item-last" data-alpaca-container-item-index="0" data-alpaca-container-item-name="FenestrationSystem_auc:FenestrationType_auc:Window_auc:WindowHeight_$" data-alpaca-container-item-parent-field-id="alpaca27">

                                                                <div class="alpaca-field alpaca-field-number alpaca-optional alpaca-autocomplete alpaca-field-valid" data-alpaca-field-id="alpaca32" data-alpaca-field-path="/FenestrationSystem/auc:FenestrationType/auc:Window/auc:WindowHeight/$" data-alpaca-field-name="FenestrationSystem_auc:FenestrationType_auc:Window_auc:WindowHeight_$">



                                                                    <div class="field alpaca-control" name="FenestrationSystem_auc:FenestrationType_auc:Window_auc:WindowHeight_$" autocomplete="off">
                                                                        <label>Window Height</label>
                                                                        <input type="text" id="alpaca32" ng-model="system[&#39;auc:FenestrationSystems&#39;][&#39;auc:FenestrationSystem&#39;][&#39;auc:FenestrationType&#39;][&#39;auc:Window&#39;][&#39;auc:WindowHeight&#39;][&#39;$&#39;]" name="FenestrationSystem_auc:FenestrationType_auc:Window_auc:WindowHeight_$">
                                                                    </div>



                                                                </div>

                                                            </div>


                                                        </div>



                                                    </div>

                                                </div>


                                                <div class="alpaca-container-item" data-alpaca-container-item-index="1" data-alpaca-container-item-name="FenestrationSystem_auc:FenestrationType_auc:Window_auc:WindowWidth" data-alpaca-container-item-parent-field-id="alpaca15">

                                                    <div class="alpaca-field alpaca-field-object alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca28" data-alpaca-field-path="/FenestrationSystem/auc:FenestrationType/auc:Window/auc:WindowWidth" data-alpaca-field-name="FenestrationSystem_auc:FenestrationType_auc:Window_auc:WindowWidth">





                                                        <div class="alpaca-container alpaca-vertical alpaca-container-has-items" data-alpaca-container-item-count="1">


                                                            <div class="alpaca-container-item alpaca-container-item-first alpaca-container-item-last" data-alpaca-container-item-index="0" data-alpaca-container-item-name="FenestrationSystem_auc:FenestrationType_auc:Window_auc:WindowWidth_$" data-alpaca-container-item-parent-field-id="alpaca28">

                                                                <div class="alpaca-field alpaca-field-number alpaca-optional alpaca-autocomplete alpaca-field-valid" data-alpaca-field-id="alpaca33" data-alpaca-field-path="/FenestrationSystem/auc:FenestrationType/auc:Window/auc:WindowWidth/$" data-alpaca-field-name="FenestrationSystem_auc:FenestrationType_auc:Window_auc:WindowWidth_$">



                                                                    <div class="field alpaca-control" name="FenestrationSystem_auc:FenestrationType_auc:Window_auc:WindowWidth_$" autocomplete="off">
                                                                        <label>Window Width</label>
                                                                        <input type="text" id="alpaca33" ng-model="system[&#39;auc:FenestrationSystems&#39;][&#39;auc:FenestrationSystem&#39;][&#39;auc:FenestrationType&#39;][&#39;auc:Window&#39;][&#39;auc:WindowWidth&#39;][&#39;$&#39;]" name="FenestrationSystem_auc:FenestrationType_auc:Window_auc:WindowWidth_$">
                                                                    </div>



                                                                </div>

                                                            </div>


                                                        </div>



                                                    </div>

                                                </div>


                                                <div class="alpaca-container-item" data-alpaca-container-item-index="2" data-alpaca-container-item-name="FenestrationSystem_auc:FenestrationType_auc:Window_auc:WindowHorizontalSpacing" data-alpaca-container-item-parent-field-id="alpaca15">

                                                    <div class="alpaca-field alpaca-field-object alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca29" data-alpaca-field-path="/FenestrationSystem/auc:FenestrationType/auc:Window/auc:WindowHorizontalSpacing" data-alpaca-field-name="FenestrationSystem_auc:FenestrationType_auc:Window_auc:WindowHorizontalSpacing">





                                                        <div class="alpaca-container alpaca-vertical alpaca-container-has-items" data-alpaca-container-item-count="1">


                                                            <div class="alpaca-container-item alpaca-container-item-first alpaca-container-item-last" data-alpaca-container-item-index="0" data-alpaca-container-item-name="FenestrationSystem_auc:FenestrationType_auc:Window_auc:WindowHorizontalSpacing_$" data-alpaca-container-item-parent-field-id="alpaca29">

                                                                <div class="alpaca-field alpaca-field-number alpaca-optional alpaca-autocomplete alpaca-field-valid" data-alpaca-field-id="alpaca34" data-alpaca-field-path="/FenestrationSystem/auc:FenestrationType/auc:Window/auc:WindowHorizontalSpacing/$" data-alpaca-field-name="FenestrationSystem_auc:FenestrationType_auc:Window_auc:WindowHorizontalSpacing_$">



                                                                    <div class="field alpaca-control" name="FenestrationSystem_auc:FenestrationType_auc:Window_auc:WindowHorizontalSpacing_$" autocomplete="off">
                                                                        <label>Window Horizontal Spacing</label>
                                                                        <input type="text" id="alpaca34" ng-model="system[&#39;auc:FenestrationSystems&#39;][&#39;auc:FenestrationSystem&#39;][&#39;auc:FenestrationType&#39;][&#39;auc:Window&#39;][&#39;auc:WindowHorizontalSpacing&#39;][&#39;$&#39;]" name="FenestrationSystem_auc:FenestrationType_auc:Window_auc:WindowHorizontalSpacing_$">
                                                                    </div>



                                                                </div>

                                                            </div>


                                                        </div>



                                                    </div>

                                                </div>


                                                <div class="alpaca-container-item alpaca-container-item-last" data-alpaca-container-item-index="3" data-alpaca-container-item-name="FenestrationSystem_auc:FenestrationType_auc:Window_auc:WindowOrientation" data-alpaca-container-item-parent-field-id="alpaca15">

                                                    <div class="alpaca-field alpaca-field-object alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca30" data-alpaca-field-path="/FenestrationSystem/auc:FenestrationType/auc:Window/auc:WindowOrientation" data-alpaca-field-name="FenestrationSystem_auc:FenestrationType_auc:Window_auc:WindowOrientation">





                                                        <div class="alpaca-container alpaca-vertical alpaca-container-has-items" data-alpaca-container-item-count="1">


                                                            <div class="alpaca-container-item alpaca-container-item-first alpaca-container-item-last" data-alpaca-container-item-index="0" data-alpaca-container-item-name="FenestrationSystem_auc:FenestrationType_auc:Window_auc:WindowOrientation_$" data-alpaca-container-item-parent-field-id="alpaca30">

                                                                <div class="alpaca-field alpaca-field-select alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca35" data-alpaca-field-path="/FenestrationSystem/auc:FenestrationType/auc:Window/auc:WindowOrientation/$" data-alpaca-field-name="FenestrationSystem_auc:FenestrationType_auc:Window_auc:WindowOrientation_$">



                                                                    <div class="field alpaca-control" name="FenestrationSystem_auc:FenestrationType_auc:Window_auc:WindowOrientation_$">
                                                                        <label>Window Orientation</label>
                                                                        <select id="alpaca35" ng-model="system[&#39;auc:FenestrationSystems&#39;][&#39;auc:FenestrationSystem&#39;][&#39;auc:FenestrationType&#39;][&#39;auc:Window&#39;][&#39;auc:WindowOrientation&#39;][&#39;$&#39;]" name="FenestrationSystem_auc:FenestrationType_auc:Window_auc:WindowOrientation_$">


                                                                            <option value="">None</option>

                                                                            <option value="East">East</option>
                                                                            <option value="North">North</option>
                                                                            <option value="Northeast">Northeast</option>
                                                                            <option value="Northwest">Northwest</option>
                                                                            <option value="South">South</option>
                                                                            <option value="Southeast">Southeast</option>
                                                                            <option value="Southwest">Southwest</option>
                                                                            <option value="Unknown">Unknown</option>
                                                                            <option value="West">West</option>


                                                                        </select>
                                                                    </div>



                                                                </div>

                                                            </div>


                                                        </div>



                                                    </div>

                                                </div>


                                            </div>



                                        </div>

                                    </div>


                                    <div class="alpaca-container-item alpaca-container-item-last" data-alpaca-container-item-index="2" data-alpaca-container-item-name="FenestrationSystem_auc:FenestrationType_auc:Other" data-alpaca-container-item-parent-field-id="alpaca4">

                                        <div class="alpaca-field alpaca-field-object alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca16" data-alpaca-field-path="/FenestrationSystem/auc:FenestrationType/auc:Other" data-alpaca-field-name="FenestrationSystem_auc:FenestrationType_auc:Other">





                                            <div class="alpaca-container alpaca-vertical alpaca-container-has-items" data-alpaca-container-item-count="1">


                                                <div class="alpaca-container-item alpaca-container-item-first alpaca-container-item-last" data-alpaca-container-item-index="0" data-alpaca-container-item-name="FenestrationSystem_auc:FenestrationType_auc:Other_$" data-alpaca-container-item-parent-field-id="alpaca16">

                                                    <div class="alpaca-field alpaca-field-text alpaca-optional alpaca-autocomplete alpaca-field-valid" data-alpaca-field-id="alpaca31" data-alpaca-field-path="/FenestrationSystem/auc:FenestrationType/auc:Other/$" data-alpaca-field-name="FenestrationSystem_auc:FenestrationType_auc:Other_$">



                                                        <div class="field alpaca-control" name="FenestrationSystem_auc:FenestrationType_auc:Other_$" autocomplete="off">
                                                            <label>Other</label>
                                                            <input type="text" id="alpaca31" ng-model="system[&#39;auc:FenestrationSystems&#39;][&#39;auc:FenestrationSystem&#39;][&#39;auc:FenestrationType&#39;][&#39;auc:Other&#39;][&#39;$&#39;]" name="FenestrationSystem_auc:FenestrationType_auc:Other_$">
                                                        </div>



                                                    </div>

                                                </div>


                                            </div>



                                        </div>

                                    </div>


                                </div>



                            </div>

                        </div>


                        <div class="alpaca-container-item" data-alpaca-container-item-index="1" data-alpaca-container-item-name="FenestrationSystem_auc:FenestrationFrameMaterial" data-alpaca-container-item-parent-field-id="alpaca3">

                            <div class="alpaca-field alpaca-field-object alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca5" data-alpaca-field-path="/FenestrationSystem/auc:FenestrationFrameMaterial" data-alpaca-field-name="FenestrationSystem_auc:FenestrationFrameMaterial">





                                <div class="alpaca-container alpaca-vertical alpaca-container-has-items" data-alpaca-container-item-count="1">


                                    <div class="alpaca-container-item alpaca-container-item-first alpaca-container-item-last" data-alpaca-container-item-index="0" data-alpaca-container-item-name="FenestrationSystem_auc:FenestrationFrameMaterial_$" data-alpaca-container-item-parent-field-id="alpaca5">

                                        <div class="alpaca-field alpaca-field-select alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca17" data-alpaca-field-path="/FenestrationSystem/auc:FenestrationFrameMaterial/$" data-alpaca-field-name="FenestrationSystem_auc:FenestrationFrameMaterial_$">



                                            <div class="field alpaca-control" name="FenestrationSystem_auc:FenestrationFrameMaterial_$">
                                                <label>Fenestration Frame Material</label>
                                                <select id="alpaca17" ng-model="system[&#39;auc:FenestrationSystems&#39;][&#39;auc:FenestrationSystem&#39;][&#39;auc:FenestrationFrameMaterial&#39;][&#39;$&#39;]" name="FenestrationSystem_auc:FenestrationFrameMaterial_$">


                                                    <option value="">None</option>

                                                    <option value="Aluminum-no thermal break">Aluminum-no thermal break</option>
                                                    <option value="Aluminum-thermal break">Aluminum-thermal break</option>
                                                    <option value="Aluminum-uncategorized">Aluminum-uncategorized</option>
                                                    <option value="Clad">Clad</option>
                                                    <option value="Composite">Composite</option>
                                                    <option value="Fiberglass">Fiberglass</option>
                                                    <option value="Other">Other</option>
                                                    <option value="Steel">Steel</option>
                                                    <option value="Unknown">Unknown</option>
                                                    <option value="Vinyl">Vinyl</option>
                                                    <option value="Wood">Wood</option>


                                                </select>
                                            </div>



                                        </div>

                                    </div>


                                </div>



                            </div>

                        </div>


                        <div class="alpaca-container-item" data-alpaca-container-item-index="2" data-alpaca-container-item-name="FenestrationSystem_auc:GlassType" data-alpaca-container-item-parent-field-id="alpaca3">

                            <div class="alpaca-field alpaca-field-object alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca6" data-alpaca-field-path="/FenestrationSystem/auc:GlassType" data-alpaca-field-name="FenestrationSystem_auc:GlassType">





                                <div class="alpaca-container alpaca-vertical alpaca-container-has-items" data-alpaca-container-item-count="1">


                                    <div class="alpaca-container-item alpaca-container-item-first alpaca-container-item-last" data-alpaca-container-item-index="0" data-alpaca-container-item-name="FenestrationSystem_auc:GlassType_$" data-alpaca-container-item-parent-field-id="alpaca6">

                                        <div class="alpaca-field alpaca-field-select alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca18" data-alpaca-field-path="/FenestrationSystem/auc:GlassType/$" data-alpaca-field-name="FenestrationSystem_auc:GlassType_$">



                                            <div class="field alpaca-control" name="FenestrationSystem_auc:GlassType_$">
                                                <label>Glass Type</label>
                                                <select id="alpaca18" ng-model="system[&#39;auc:FenestrationSystems&#39;][&#39;auc:FenestrationSystem&#39;][&#39;auc:GlassType&#39;][&#39;$&#39;]" name="FenestrationSystem_auc:GlassType_$">


                                                    <option value="">None</option>

                                                    <option value="Clear uncoated">Clear uncoated</option>
                                                    <option value="High performance tint">High performance tint</option>
                                                    <option value="Low-e">Low-e</option>
                                                    <option value="Other">Other</option>
                                                    <option value="Plastic">Plastic</option>
                                                    <option value="Reflective">Reflective</option>
                                                    <option value="Reflective on tint">Reflective on tint</option>
                                                    <option value="Sunbelt low-E (low SHGC)">Sunbelt low-E (low SHGC)</option>
                                                    <option value="Suspended film">Suspended film</option>
                                                    <option value="Tinted">Tinted</option>
                                                    <option value="Tinted + low-e">Tinted + low-e</option>
                                                    <option value="Unknown">Unknown</option>


                                                </select>
                                            </div>



                                        </div>

                                    </div>


                                </div>



                            </div>

                        </div>


                        <div class="alpaca-container-item" data-alpaca-container-item-index="3" data-alpaca-container-item-name="FenestrationSystem_auc:FenestrationGlassLayers" data-alpaca-container-item-parent-field-id="alpaca3">

                            <div class="alpaca-field alpaca-field-object alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca7" data-alpaca-field-path="/FenestrationSystem/auc:FenestrationGlassLayers" data-alpaca-field-name="FenestrationSystem_auc:FenestrationGlassLayers">





                                <div class="alpaca-container alpaca-vertical alpaca-container-has-items" data-alpaca-container-item-count="1">


                                    <div class="alpaca-container-item alpaca-container-item-first alpaca-container-item-last" data-alpaca-container-item-index="0" data-alpaca-container-item-name="FenestrationSystem_auc:FenestrationGlassLayers_$" data-alpaca-container-item-parent-field-id="alpaca7">

                                        <div class="alpaca-field alpaca-field-select alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca19" data-alpaca-field-path="/FenestrationSystem/auc:FenestrationGlassLayers/$" data-alpaca-field-name="FenestrationSystem_auc:FenestrationGlassLayers_$">



                                            <div class="field alpaca-control" name="FenestrationSystem_auc:FenestrationGlassLayers_$">
                                                <label>Fenestration Glass Layers</label>
                                                <select id="alpaca19" ng-model="system[&#39;auc:FenestrationSystems&#39;][&#39;auc:FenestrationSystem&#39;][&#39;auc:FenestrationGlassLayers&#39;][&#39;$&#39;]" name="FenestrationSystem_auc:FenestrationGlassLayers_$">


                                                    <option value="">None</option>

                                                    <option value="Double-pane">Double-pane</option>
                                                    <option value="Single-pane">Single-pane</option>
                                                    <option value="Single-paned with storm panel">Single-paned with storm panel</option>
                                                    <option value="Triple-pane">Triple-pane</option>
                                                    <option value="Unknown">Unknown</option>


                                                </select>
                                            </div>



                                        </div>

                                    </div>


                                </div>



                            </div>

                        </div>


                        <div class="alpaca-container-item" data-alpaca-container-item-index="4" data-alpaca-container-item-name="FenestrationSystem_auc:FenestrationOperation" data-alpaca-container-item-parent-field-id="alpaca3">

                            <div class="alpaca-field alpaca-field-object alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca8" data-alpaca-field-path="/FenestrationSystem/auc:FenestrationOperation" data-alpaca-field-name="FenestrationSystem_auc:FenestrationOperation">





                                <div class="alpaca-container alpaca-vertical alpaca-container-has-items" data-alpaca-container-item-count="1">


                                    <div class="alpaca-container-item alpaca-container-item-first alpaca-container-item-last" data-alpaca-container-item-index="0" data-alpaca-container-item-name="FenestrationSystem_auc:FenestrationOperation_$" data-alpaca-container-item-parent-field-id="alpaca8">

                                        <div class="alpaca-field alpaca-field-checkbox alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca20" data-alpaca-field-path="/FenestrationSystem/auc:FenestrationOperation/$" data-alpaca-field-name="FenestrationSystem_auc:FenestrationOperation_$">



                                            <div class="ui checkbox alpaca-control" name="FenestrationSystem_auc:FenestrationOperation_$">

                                                <div>

                                                    <input type="checkbox" name="FenestrationSystem_auc:FenestrationOperation_$">


                                                    <label>Fenestration Operation</label>

                                                </div>

                                            </div>



                                        </div>

                                    </div>


                                </div>



                            </div>

                        </div>


                        <div class="alpaca-container-item" data-alpaca-container-item-index="5" data-alpaca-container-item-name="FenestrationSystem_auc:Weatherstripped" data-alpaca-container-item-parent-field-id="alpaca3">

                            <div class="alpaca-field alpaca-field-object alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca9" data-alpaca-field-path="/FenestrationSystem/auc:Weatherstripped" data-alpaca-field-name="FenestrationSystem_auc:Weatherstripped">





                                <div class="alpaca-container alpaca-vertical alpaca-container-has-items" data-alpaca-container-item-count="1">


                                    <div class="alpaca-container-item alpaca-container-item-first alpaca-container-item-last" data-alpaca-container-item-index="0" data-alpaca-container-item-name="FenestrationSystem_auc:Weatherstripped_$" data-alpaca-container-item-parent-field-id="alpaca9">

                                        <div class="alpaca-field alpaca-field-checkbox alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca21" data-alpaca-field-path="/FenestrationSystem/auc:Weatherstripped/$" data-alpaca-field-name="FenestrationSystem_auc:Weatherstripped_$">



                                            <div class="ui checkbox alpaca-control" name="FenestrationSystem_auc:Weatherstripped_$">

                                                <div>

                                                    <input type="checkbox" name="FenestrationSystem_auc:Weatherstripped_$">


                                                    <label>Weatherstripped</label>

                                                </div>

                                            </div>



                                        </div>

                                    </div>


                                </div>



                            </div>

                        </div>


                        <div class="alpaca-container-item" data-alpaca-container-item-index="6" data-alpaca-container-item-name="FenestrationSystem_auc:Manufacturer" data-alpaca-container-item-parent-field-id="alpaca3">

                            <div class="alpaca-field alpaca-field-object alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca10" data-alpaca-field-path="/FenestrationSystem/auc:Manufacturer" data-alpaca-field-name="FenestrationSystem_auc:Manufacturer">





                                <div class="alpaca-container alpaca-vertical alpaca-container-has-items" data-alpaca-container-item-count="1">


                                    <div class="alpaca-container-item alpaca-container-item-first alpaca-container-item-last" data-alpaca-container-item-index="0" data-alpaca-container-item-name="FenestrationSystem_auc:Manufacturer_$" data-alpaca-container-item-parent-field-id="alpaca10">

                                        <div class="alpaca-field alpaca-field-text alpaca-optional alpaca-autocomplete alpaca-field-valid" data-alpaca-field-id="alpaca22" data-alpaca-field-path="/FenestrationSystem/auc:Manufacturer/$" data-alpaca-field-name="FenestrationSystem_auc:Manufacturer_$">



                                            <div class="field alpaca-control" name="FenestrationSystem_auc:Manufacturer_$" autocomplete="off">
                                                <label>Manufacturer</label>
                                                <input type="text" id="alpaca22" ng-model="system[&#39;auc:FenestrationSystems&#39;][&#39;auc:FenestrationSystem&#39;][&#39;auc:Manufacturer&#39;][&#39;$&#39;]" name="FenestrationSystem_auc:Manufacturer_$">
                                            </div>



                                        </div>

                                    </div>


                                </div>



                            </div>

                        </div>


                        <div class="alpaca-container-item" data-alpaca-container-item-index="7" data-alpaca-container-item-name="FenestrationSystem_auc:ModelNumber" data-alpaca-container-item-parent-field-id="alpaca3">

                            <div class="alpaca-field alpaca-field-object alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca11" data-alpaca-field-path="/FenestrationSystem/auc:ModelNumber" data-alpaca-field-name="FenestrationSystem_auc:ModelNumber">





                                <div class="alpaca-container alpaca-vertical alpaca-container-has-items" data-alpaca-container-item-count="1">


                                    <div class="alpaca-container-item alpaca-container-item-first alpaca-container-item-last" data-alpaca-container-item-index="0" data-alpaca-container-item-name="FenestrationSystem_auc:ModelNumber_$" data-alpaca-container-item-parent-field-id="alpaca11">

                                        <div class="alpaca-field alpaca-field-text alpaca-optional alpaca-autocomplete alpaca-field-valid" data-alpaca-field-id="alpaca23" data-alpaca-field-path="/FenestrationSystem/auc:ModelNumber/$" data-alpaca-field-name="FenestrationSystem_auc:ModelNumber_$">



                                            <div class="field alpaca-control" name="FenestrationSystem_auc:ModelNumber_$" autocomplete="off">
                                                <label>Model Number</label>
                                                <input type="text" id="alpaca23" ng-model="system[&#39;auc:FenestrationSystems&#39;][&#39;auc:FenestrationSystem&#39;][&#39;auc:ModelNumber&#39;][&#39;$&#39;]" name="FenestrationSystem_auc:ModelNumber_$">
                                            </div>



                                        </div>

                                    </div>


                                </div>



                            </div>

                        </div>


                        <div class="alpaca-container-item" data-alpaca-container-item-index="8" data-alpaca-container-item-name="FenestrationSystem_auc:Quantity" data-alpaca-container-item-parent-field-id="alpaca3">

                            <div class="alpaca-field alpaca-field-object alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca12" data-alpaca-field-path="/FenestrationSystem/auc:Quantity" data-alpaca-field-name="FenestrationSystem_auc:Quantity">





                                <div class="alpaca-container alpaca-vertical alpaca-container-has-items" data-alpaca-container-item-count="2">


                                    <div class="alpaca-container-item alpaca-container-item-first" data-alpaca-container-item-index="0" data-alpaca-container-item-name="FenestrationSystem_auc:Quantity_$" data-alpaca-container-item-parent-field-id="alpaca12">

                                        <div class="alpaca-field alpaca-field-integer alpaca-optional alpaca-autocomplete alpaca-field-valid" data-alpaca-field-id="alpaca24" data-alpaca-field-path="/FenestrationSystem/auc:Quantity/$" data-alpaca-field-name="FenestrationSystem_auc:Quantity_$">



                                            <div class="field alpaca-control" name="FenestrationSystem_auc:Quantity_$" autocomplete="off">
                                                <label>Quantity</label>
                                                <input type="text" id="alpaca24" ng-model="system[&#39;auc:FenestrationSystems&#39;][&#39;auc:FenestrationSystem&#39;][&#39;auc:Quantity&#39;][&#39;$&#39;]" name="FenestrationSystem_auc:Quantity_$">
                                            </div>



                                        </div>

                                    </div>


                                    <div class="alpaca-container-item alpaca-container-item-last" data-alpaca-container-item-index="1" data-alpaca-container-item-name="FenestrationSystem_auc:Quantity_@auc:Source" data-alpaca-container-item-parent-field-id="alpaca12">

                                        <div class="alpaca-field alpaca-field-select alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca25" data-alpaca-field-path="/FenestrationSystem/auc:Quantity/@auc:Source" data-alpaca-field-name="FenestrationSystem_auc:Quantity_@auc:Source">



                                            <div class="field alpaca-control" name="FenestrationSystem_auc:Quantity_@auc:Source">
                                                <label>Source</label>
                                                <select id="alpaca25" ng-model="system[&#39;auc:FenestrationSystems&#39;][&#39;auc:FenestrationSystem&#39;][&#39;auc:Quantity&#39;][&#39;@auc:Source&#39;]" name="FenestrationSystem_auc:Quantity_@auc:Source">


                                                    <option value="">None</option>

                                                    <option value="ASHRAE">ASHRAE</option>
                                                    <option value="Agent">Agent</option>
                                                    <option value="Arch2030">Arch2030</option>
                                                    <option value="Assessor">Assessor</option>
                                                    <option value="Auditor">Auditor</option>
                                                    <option value="Building Component Library">Building Component Library</option>
                                                    <option value="Default">Default</option>
                                                    <option value="Design files">Design files</option>
                                                    <option value="Direct measurement">Direct measurement</option>
                                                    <option value="ENERGY STAR Portfolio Manager">ENERGY STAR Portfolio Manager</option>
                                                    <option value="Energy Management System">Energy Management System</option>
                                                    <option value="Estimate">Estimate</option>
                                                    <option value="Other">Other</option>
                                                    <option value="Product specification">Product specification</option>
                                                    <option value="Simulation">Simulation</option>
                                                    <option value="Target Finder">Target Finder</option>
                                                    <option value="US EIA">US EIA</option>
                                                    <option value="US EPA">US EPA</option>
                                                    <option value="Utility transfer">Utility transfer</option>


                                                </select>
                                            </div>



                                        </div>

                                    </div>


                                </div>



                            </div>

                        </div>


                        <div class="alpaca-container-item alpaca-container-item-last" data-alpaca-container-item-index="9" data-alpaca-container-item-name="FenestrationSystem_auc:YearInstalled" data-alpaca-container-item-parent-field-id="alpaca3">

                            <div class="alpaca-field alpaca-field-object alpaca-optional alpaca-field-valid" data-alpaca-field-id="alpaca13" data-alpaca-field-path="/FenestrationSystem/auc:YearInstalled" data-alpaca-field-name="FenestrationSystem_auc:YearInstalled">





                                <div class="alpaca-container alpaca-vertical alpaca-container-has-items" data-alpaca-container-item-count="1">


                                    <div class="alpaca-container-item alpaca-container-item-first alpaca-container-item-last" data-alpaca-container-item-index="0" data-alpaca-container-item-name="FenestrationSystem_auc:YearInstalled_$" data-alpaca-container-item-parent-field-id="alpaca13">

                                        <div class="alpaca-field alpaca-field-text alpaca-optional alpaca-autocomplete alpaca-field-valid" data-alpaca-field-id="alpaca26" data-alpaca-field-path="/FenestrationSystem/auc:YearInstalled/$" data-alpaca-field-name="FenestrationSystem_auc:YearInstalled_$">



                                            <div class="field alpaca-control" name="FenestrationSystem_auc:YearInstalled_$" autocomplete="off">
                                                <label>Year Installed</label>
                                                <input type="text" id="alpaca26" ng-model="system[&#39;auc:FenestrationSystems&#39;][&#39;auc:FenestrationSystem&#39;][&#39;auc:YearInstalled&#39;][&#39;$&#39;]" name="FenestrationSystem_auc:YearInstalled_$">
                                            </div>



                                        </div>

                                    </div>


                                </div>



                            </div>

                        </div>


                    </div>



                </div>

            </div>


        </div>



    </div>

    <div class="alpaca-form-buttons-container">
    </div>

</form></div>