.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
} 
.ui.form .ui.row {
    padding-top: .5em !important;
    padding-bottom: .5em !important;
}
.ui.form .column {
    padding-left: .5em !important;
    padding-right: .5em !important;
}
.design-label {
	line-height:1.7em !important;
}
.building .static, .reduction .static {
	width: 100% !important;
}
input.small {
	width: 8rem !important;
}

.sup {
    vertical-align: super;
    font-size: smaller;
}

ul.icon1 {
list-style-type: none;
padding-left: 120px;
padding-top: 30px;
margin: 0;
}
li.icon1 {
background: url(‘assets/images/1.png’) no-repeat left top;
height: 54px;
padding-left: 44px;
padding-top: 3px;
}

.footer{
 position:fixed;
 bottom:0;
}

.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 480px;
    background-color: #D9D9D9;
    text-align: left;
    text-color: #54c9f7;
    line-height:1.7em !important;

    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    margin: 1rem 0;
    padding: 1em;
    border-radius: 2;
    border: 1px solid rgba(34,36,38,.15);

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    bottom: 10%;
    left: 90%;
}

div.only.print {
	display: none !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

div.desktop-padding-left {
	padding-left: 13% !important;
	padding-right: 0em !important;
	margin-right: 0em !important;
}
div.desktop-padding-right {
	padding-right: 13% !important;
//	padding-left: 1em !important;
}
div.print-header {
	padding-left: 2em !important;
}
div.entry {
//	height: 750px;
//	overflow-y: scroll;
/	padding-right:1em;
}

@media all {
	.page-break	{ display: none; }
}
