<html>
<head>
    <!-- jQuery -->
    <link rel="shortcut icon" type="image/x-icon" href="@routes.Assets.versioned("images/favicon.png")" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i" />
    <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="@routes.Assets.versioned("fonts/font-awesome-4.6.3/css/font-awesome.css")" />

    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/semantic-ui/dist/semantic.min.css")" />

    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="stylesheet" media="print" href="@routes.Assets.versioned("stylesheets/print.css")">

    <script type="text/javascript" src="assets/javascripts/lib/jquery/dist/jquery.js"></script>
    <!-- Handlebars -->
    <script type="text/javascript" src="assets/javascripts/lib/handlebars/handlebars.js"></script>

    <!-- Alpaca -->
    <script type="text/javascript" src="assets/javascripts/lib/alpaca/web/alpaca.js"></script>

</head>
<body>
<script type="text/javascript">

var schema = (function() {
        var json = null;
        $.ajax({
            'async': false,
            'global': false,
            'url': "assets/BuildingSyncTypesPoundsRemoved.json",
            'dataType': "json",
            'success': function (data) {
                json = data;
            }
        });
        return json;
    })();

            $(document).ready(function() {
                $("#form").alpaca({

                    "schema": {
                        "title":" ",
                        "description":" ",
                        "type":"object",

    "definitions": schema.definitions,

    "properties": {
      "FenestrationSystem": {
          "$ref": "#/definitions/auc:FenestrationSystemType"
    },

    }
  },
  "options": {
    "fields": {
        "FenestrationSystem_auc:ModelNumber_$": {
            "size": 2,
            "placeholder": "Enter your name"
        }
    },
    "renderForm": true,
    "form": {
            
        }
  },
    "view": "web-edit"
  });
            });
        </script>
<div id="form"></div>
</body>
</html>